@import "../../../styles.scss";

.footerContainerOne {
    position: relative;
    max-width: 1440px;
    width: 100%;
    gap: 16px;
    box-sizing: border-box;
    padding: 0 24px 50px 24px;
    >.footerContainerTwo {
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
        width: 100%;
        >.footerContainerThree {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 129px;
            >.initialFooter {
                width: 110px;
                color: $primaryColorOne;
                font-size: 54px;
                font-weight: 400;
                margin: 0;
                font-family: 'Handjet';
                display: flex;
                justify-content: center;
                align-items: center;
            }
            >.footerContainerFd {
                display: flex;
                justify-content: center;
                width: 136px;
                height: 12px;
                font-size: 12px;
                color: $primaryColorOne;
                margin: 0;
                > p {
                    margin: 0;
                }
            }
        }
    }
}

.copyrightContainer {
    min-width: 291px;
    display: flex;
    justify-content: center;
    align-items: end;
    >.copyrightText {
        color: $primaryColorOne;
        font-size: 23px;
        font-weight: 400;
        margin: 0;
    }
}

.imgFooterContainerOne {
    width: 154px;
    display: flex;
    justify-content: center;
    align-items: end;
    >.imgFooterContainerTwo {
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 154px;
        height: 38px;
        >.imgFooter {
            width: 30px;
            height: 29.26px;
            &:hover {
                cursor: pointer;
                transition: 100ms ease-in-out;
            }
        }
    } 
}

.footerContainerFour {
    display: flex;
    justify-content: center;
    >.footerContainerFive {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 15px;
        width: 261px;
        height: 30px;
        font-size: 14px;
        display: flex;
        gap: 16px;
        margin: 0;
        >.legalNotice {
            width: 121px;
            margin: 0;
            color: $primaryColorOne;
            text-decoration: none;
            gap: 3px;
            &:hover{
                cursor: pointer;
                color: $primaryColorTwo;
                transition: color 100ms ease-in-out;
            }
        }
    }
}

.legalNotice {
    display: flex;
    justify-content: center;
}

.footerContainerFiveResponsive > .legalNotice:hover {
    cursor: pointer;
    color: $primaryColorTwo;
    transition: color 100ms ease-in-out;
}

.footerContainerOneResponsive {
    display: none;
}

@media only screen and (max-width: 1024px) {

    .sectionFooter {
        position: relative;
    }

}

@media only screen and (max-width: 928px) {

    .footerContainerOne {
        display: none;
    }

    .footerContainerOneResponsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .imgFooterContainerTwoResponsive {
        display: flex;
        gap: 32px;
    }

    .footerContainerThreeResponsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $primaryColorOne;
        gap: 8px;
    }

    .initialFooter {
        font-size: 48px;
        font-weight: 400;
        margin: 0;
    }

    .copyrightText {
        margin-top: 0;
    }

    .footerContainerFiveResponsive {
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        >.legalNotice, .privacyPolice {
            color: $primaryColorOne;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 575px) {

    .sectionFooter {
        top: 775px;
    }

    .footerContainerOneResponsive {
        padding-top: 50px;
    }

}

@media (max-width: 410px) {

    .sectionFooter {
        top: 785px;
    }

}


