@import "../../../styles.scss";

.referenceContainerOne {
    position: relative;
    // width: 1440px;
    max-width: 1440px;
    width: 100%;
    height: 307px;
    top: 150px;
    left: 105px;
    width: calc(100% - 105px);
    >.referenceContainerHeader {
        position: relative;
        // width: 808px;
        max-width: 808px;
        width: 100%;
        height: 29px;
        white-space: nowrap;
        >.referenceContainerTextHeader {
            color: $primaryColorOne;
            font-size: 24px;
            font-weight: 700;
            margin: 0;
        }
    }
}

.referenceContainerText {
    display: none;
}

.referenceContainerTwo {
    display: flex;
    position: relative;
    // width: 1103px;
    max-width: 1103px;
    width: 100%;
    height: 246px;
    gap: 32px;
    top: 30px;
    >.arrowReference {
        position: relative;
        top: 8px;
        height: 75px;
        object-fit: cover;
    }
}

.referenceContainerThree {
    // width: 297px;
    max-width: 297px;
    width: 100%;
    height: 246px;
    >.referenceNameAndProject {
        display: flex;
        flex-direction: column;
        // width: 297px;
        max-width: 297px;
        width: 100%;
        height: 53px;
        gap: 8px;
        >.referenceName {
            color: $primaryColorOne;
            font-size: 24px;
            font-weight: 700;
            margin: 0;
        }
        >.referenceProject {
            color: $primaryColorTwo;
            font-size: 18px;
            font-weight: 400;
            margin: 0;
        }
    }
}

.referenceInfo {
    position: relative;
    top: 25px;
    // width: 297px;
    max-width: 297px;
    width: 100%;
    height: 161px;
    >.referenceText {
        color: $primaryColorTwo;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
}

.referenceContainerOneResponsive {
    display: none;
}

@media only screen and (max-width: 1224px) {

    .referenceContainerOne {
        top: 100px;
    }

}

// @media only screen and (max-width: 790px) {

//     .referenceContainerOne {
//         // top: 540px;
//         top: 390px;
//     }

// }

@media only screen and (max-width: 768px) {
    
    .referenceContainerOne {
        display: none;
    }

    .referenceContainerOneResponsive {
        display: block;
        position: relative;
        // top: 550px;
        top: 350px;
    }

    .referenceContainerHeaderResponsive {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    .referenceContainerTextHeaderResponsive {
        font-size: 24px;
        font-weight: 700;
        color: $primaryColorOne;
        margin: 0;
    }

    .referenceContainerTextResponsive {
        color: $primaryColorOne;
        margin: 0;
    }

    .referenceNameResponsive {
        color: $primaryColorOne;
        font-size: 24px;
        font-weight: 700;
        margin: 10px 0 0 0;
        display: flex;
        justify-content: center;
    }

    .referenceProjectResponsive, .referenceTextResponsive {
        color: $primaryColorTwo;
        margin: 0;
        padding: 0 15px 15px 15px;
    }

    .referenceTextResponsive {
        margin-bottom: 0;
    }

    .referenceContainerTwoResponsive{
        cursor: pointer;
        display: flex;
        gap: 16px;
        padding-left: 35px;
        >.referenceContainerThreeResponsive {
            position: relative;
            top: 15px;
            border: 1px solid $primaryColorTwo;
            min-width: 239px;
            min-height: 233px;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 790px) {

    .referenceContainerOneResponsive {
        top: 540px;
    }

}

// @media (orientation: portrait) and (max-width: 667px) {

//     .referenceContainerOneResponsive {
//         width: 667px;
//     }

// }

@media only screen and (max-width: 575px) {

    .referenceContainerOneResponsive {
        top: 540px;
    }

}