.header {
    max-width: 1440px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 92px;
    color: #E15544;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #120B35;
    padding: 24px, 140px, 24px, 140px;
    >.headerMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 636px;
        height: 44px;
        gap: 48px;
        position: relative;
        left: 70px;
    }
    >.initialHeader {
        width: 92px;
        height: 44px;
    }
    >.headerLanguages {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 62px;
        height: 25px;
        padding-right: 70px;
    }
}

.headerLanguagesDE:hover, .headerLanguagesEN:hover {
    cursor: pointer;
    color: #02F4BF;
    transition: color 100ms ease-in-out;
    >p {
        margin: 0;
    }
}

.initial {
    font-size: 48px;
}

.headerMenuLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 496px;
    height: 26px;
    gap: 32px;
    >.headerMenuLinksFields {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 26px;
        font-size: 22px;
        color: #E15544;
        text-decoration: none;
    }
    >.headerMenuLinksFields:hover {
        cursor: pointer;
        color: #02F4BF;
        transition: color 100ms ease-in-out;
    }
    >.headerMenuLinksFields.active {
        color: #02F4BF; 
        text-decoration: underline; 
        text-decoration-thickness: 1.5px;
    }
}

.headerLanguages .active,
.headerLanguagesBurgerMenuDE.active,
.headerLanguagesBurgerMenuEN.active {
    color: #02F4BF;
}

.burgerMenu {
    display: none;
}

.headerMenuLinksBurgerMenuContainerOne {
    width: 390px;
    display: none;
  
    &.open {
      display: block;
    }
}

@media (min-width: 769px) {

    .headerMenuLinksBurgerMenuContainerTwo {
        display: none;
    }

}

@media  (max-width: 768px) {

    .header .headerMenu {
        max-width: 102.14px;
        left: 30px;
    }

    .headerMenuLinks {
        display: none;
    }

    .headerLanguagesDE {
        display: none;
    }

    .headerLanguagesEN {
        display: none;
    }

    .headerLanguages > p {
        display: none;
    }

    .burgerMenu {
        display: flex;
        flex-wrap: wrap;
        width: 30px;
        height: 27.72px;
        gap: 14px;
        position: absolute;
        right: 30px;
        cursor: pointer;
        >.burgerMenuLine {
            width: 30px;
            height: 2px;
            background-color: #FF5959;
        }
    }

    .headerMenuLinksBurgerMenuContainerOne {

        &.open {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            right: 0;
            width: 390px;
            height: 437px;
            background: linear-gradient(180deg, #13074E 46.5%, rgba(29, 10, 121, 0.95) 91%);
          }
    }

    .headerMenuLinksBurgerMenuContainerTwo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 301px;
        width: 87px;
        top: 68px;
        position: relative;
        gap: 27px;
        font-size: 18px;
    }
}

@media  (max-width: 410px) {

    .headerMenuLinksBurgerMenuContainerOne {

        &.open {
            max-width: 390px;
            width: 100%;
        }
    }

    .headerMenuLinksBurgerMenuContainerOne .burgerMenuClose {
        position: relative;
        left: 140px;
    }

}

.headerMenuLinksFieldsBurgerMenu {
    color: #E15544;
    text-decoration: none;
    &:hover {
        color: #02F4BF;
        transition: color 100ms ease-in-out;
    }
}

.headerLanguagesBurgerMenu {
    display: flex;
    justify-content: center;
}

.headerLanguagesBurgerMenuDE {
    padding-right: 5px;
    &:hover {
        cursor: pointer;
        color: #02F4BF;
        transition: color 100ms ease-in-out;
    }
}

.headerLanguagesBurgerMenuEN {
    padding-left: 5px;
    &:hover {
        cursor: pointer;
        color: #02F4BF;
        transition: color 100ms ease-in-out;
    }
}

.burgerMenuClose {
    width: 35px;
    height: 32px;
    position: relative;
    top: 30px;
    left: 175px;
    &:hover {
        cursor: pointer;
    }
}

.hide {
    display: none;
  }
