<div class="header">
    <div class="headerMenu">
        <div class="initialHeader">
            <p class="initial">&lt;TJ&gt;</p>
        </div>
        <div class="headerMenuLinks">
            <p class="headerMenuLinksFields">Why me</p>
            <p class="headerMenuLinksFields">Skills</p>
            <p class="headerMenuLinksFields">Projects</p>
            <p class="headerMenuLinksFields">Contact</p>
        </div>
    </div>
    <div class="headerLanguages">
        <p class="headerLanguagesDE">DE</p>
        <p>|</p>
        <p class="headerLanguagesEN">EN</p>
    </div>
</div>
