<div class="footerContainerOne">
    <div class="footerContainerTwo">
        <div class="footerContainerThree">
            <p class="initialFooter">&lt;TJ&gt;</p>
            <p class="fdText">frontend developer</p>
        </div>
        <div class="copyrightContainer">
            <p class="copyrightText">© Thomas Jilge 2024</p>
        </div>
        
        <div class="imgFooterContainerOne">
            <div class="imgFooterContainerTwo">
                <img class="imgFooter" src="../../assets/img/Github button.png" alt="">
                <img class="imgFooter" src="../../assets/img/mail button.png" alt="">
                <img class="imgFooter" src="../../assets/img/linkedin button.png" alt="">
            </div>
        </div>
    </div>
    <div class="footerContainerFour">
        <div class="footerContainerFive">
            <p class="legalNotice">Legal notice</p>
            <p class="imprint">Imprint</p>
        </div>
    </div>
</div>
