<div class="footerContainerOne">
    <div class="footerContainerTwo">
        <div class="footerContainerThree">
            <p class="initialFooter">&lt;TJ&gt;</p>
            <p class="fdText">frontend developer</p>
        </div>
        <div class="copyrightContainer">
            <p class="copyrightText">© Thomas Jilge 2024</p>
        </div>
        
        <div class="imgFooterContainerOne">
            <div class="imgFooterContainerTwo">
                <a href="https://github.com/ThomasJilge" target="_blank">
                    <img class="imgFooter" src="{{ githubSrc }}" (mouseover)="onHover('github')" (mouseout)="onLeave('github')" alt="Github">
                </a>
                <a href="mailto:thomasjilge&#64;gmx.de" target="_blank">
                    <img class="imgFooter" src="{{ mailSrc }}" (mouseover)="onHover('mail')" (mouseout)="onLeave('mail')" alt="Mail">
                </a>
                <a href="https://www.linkedin.com/in/thomas-jilge-510a091b5/" target="_blank">
                    <img class="imgFooter" src="{{ linkedinSrc }}" (mouseover)="onHover('linkedin')" (mouseout)="onLeave('linkedin')" alt="LinkedIn">
                </a>
            </div>
        </div>
    </div>
    <div class="footerContainerFour">
        <div class="footerContainerFive">
            <p class="legalNotice">Legal notice</p>
            <p class="imprint">Imprint</p>
        </div>
    </div>
</div>
