.contactMeContainerOne {
    width: 1440px;
    >.contactMeContainerTwo {
        position: relative;
        top: 835px;
        width: 1015px;
        height: 162px;
        left: 132px;
        // border: 1px solid red;
        >.contactMeContainerThree {
            width: 425.05px;
            height: 72.21px;
            display: flex;
            >.h2ContactMe {
                width: 330px;
                height: 60px;
                font-size: 54px;
                color: #E15544;
                margin: 0;
            }
            >.arrowContactMe {
                width: 42.75px;
                height: 60.6px;
                transform: rotate(360deg);
                object-fit: contain;
            }
         }
    }
}

.contactMeTextContainer {
    display: flex;
    width: 504px;
    height: 73px;
    >.contactMeText {
        font-size: 18px;
        font-weight: 400;
        color: #02F4BF;
        margin: 0;
        min-width: 320px;
    }
}

.test2 {
    position: relative;
    left: 150px;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    gap: 16px;
}

.mailContactMeContainer, .phoneContactMeContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.mailImg {
    width: 28.4x;
    height: 30px;
}

.phoneImg {
    width: 26.25x;
    height: 30.94px;
}

.mailContactMe, .phoneContactMe {
    color: #02F4BF;
    margin: 0;
}

.arrowUp {
    width: 22px;
    height: 50px;
    position: relative;
    left: 1279px;
    top: -30px;
    &:hover {
        cursor: pointer;
        border: 1px solid #02F4BF;
    }
}

.container {
    position: relative;
    top: 850px;
    width: 1184px;
    height: 144px;
    left: 131px;
}

input[type=text], [type=email] {
    width: 507px;
    height: 46px;
    border: 1px solid #02F4BF;
    background-color: transparent;
    padding: 10px;
    color: #02F4BF;
}

#name {
    margin-bottom: 30px;
}

#message {
    width: 637px;
    height: 144px;
    border: 1px solid #02F4BF;
    background-color: transparent;
    padding: 10px;
    color: #02F4BF;
}

.oktest {
    display: flex;
    width: 507px;
    flex-wrap: wrap;
}

.contactForm {
    display: flex;
    gap: 40px;
}

input:hover, textarea:hover {
    cursor: pointer;
}

input::placeholder, ::placeholder {
    color: #0B8D8F;
}

.contactMeContainerFour {
    display: flex;
    position: relative;
    width: 1185px;
    height: 74px;
    top: 20px;
    >.contactMeContainerSix {
        display: flex;
        align-items: center;
        width: 978px;
        height: 27px;
        gap: 8px;
        >.contactMeContainerSixText {
            color: #02F4BF;
            font-size: 14px;
            font-weight: 400px;
            margin: 0;
            >.pp {
                color: #AE4247;
                &:hover {
                    color: #E15544;
                    cursor: pointer;
                }
            }
        }
    }
}

.custom-checkbox {
    border: 1px solid red;
  background-color: transparent;
  width: 18px;
  height: 18px;
  appearance: none;
  
}
.custom-checkbox:checked {
    background-color: #02F4BF;
    border: 1px solid red;
}

.custom-checkbox:checked::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 9px;
    width: 5px;
    height: 9px;
    border: solid red;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .sendButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 52px;
    border: 1px solid #685F75;
    color: #685F75;
    font-size: 18px;
    position: relative;
    left: 102px;
    top: 21px;
    background-color: transparent;
  }

  .warningMessage {
    color: #E15544;
  }

  


