<div class="contactMeContainerOne">
    <div class="contactMeContainerTwo">
        <div class="contactMeContainerThree">
            <h2 class="h2ContactMe">Contact Me</h2>
            <img class="arrowContactMe" src="../../assets/img/Arrow6.png" alt="">
        </div>
        <div class="contactMeTextContainer">
            <p class="contactMeText">Still not sure if I am the right person for
                your project? Contact me so i can reassure
                you. Let us work together
            </p>
            <div class="test2">
            <div class="mailContactMeContainer">
                <img class="mailImg" src="../../assets/img/email.png" alt="">
                <p class="mailContactMe">E-mail: <a href="mailto:thomasjilge@gmx.de">thomasjilgeagmx.de</a></p>
            </div>
            <div class="phoneContactMeContainer">
                <img class="phoneImg" src="../../assets/img/phone.png" alt="">
                <p class="phoneContactMe">Tel: 0170/7032983</p>
            </div>
        </div>
            
        </div>
        <img class="arrowUp" src="../../assets/img/Arrow Up.png" alt="">
    </div>

    <div class="container">
        <form>
        <div class="contactForm">
            <label for="name"></label>
          <input type="text" id="name" name="name" placeholder="Your Name">
      
          <label for="mail"></label>
          <input type="text" id="mail" name="mail" placeholder="Your Email">
        </div>
          
        <label for="subject"></label>
          <textarea id="subject" name="subject" placeholder="Your Message"></textarea>

          
      
          <!-- <input type="submit" value="Submit"> -->
      
        </form>
      </div>

      
      <div class="contactMeContainerFour">
        <div class="contactMeContainerSix">
            <label for="privacyPolicy">
            <input class="custom-checkbox" type="checkbox" id="privacyPolicy" name="privacyPolicy">
        </label>
            <p class="contactMeContainerSixText">I've read the <span class="pp">privacy policy</span> and agree to the processing of my data as outlined.</p>
        </div>
        <div class="contactMeContainerSeven">
            <div class="sendButton">Send</div>
        </div>
      </div>
    
    
</div>
