<div class="contactMeContainerOne">
    <div class="contactMeContainerTwo">
        <div class="contactMeContainerThree">
            <h2 class="h2ContactMe">Contact Me</h2>
            <img class="arrowContactMe" src="../../assets/img/Arrow6.png" alt="">
        </div>
        <!-- <div class="test"> -->
        <div class="contactMeTextContainer">
            <p class="contactMeText">Still not sure if I am the right person for
                your project? Contact me so i can reassure
                you. Let us work together
            </p>
            <div class="test2">
            <div class="mailContactMeContainer">
                <img class="mailImg" src="../../assets/img/email.png" alt="">
                <p class="mailContactMe">E-mail: <a href="mailto:thomasjilge@gmx.de">thomasjilgeagmx.de</a></p>
            </div>
            <div class="phoneContactMeContainer">
                <img class="phoneImg" src="../../assets/img/phone.png" alt="">
                <p class="phoneContactMe">Tel: 0170/7032983</p>
            </div>
        </div>
            
        </div>
    <!-- </div> -->
    </div>
</div>
