.contactMeContainerOne {
    position: relative;
    top: 70px;
    // width: 1440px;
    max-width: 1440px;
    // width: 90%;
    width: 100%;
    height: 430px;
    >.contactMeContainerTwo {
        // width: 1015px;
        max-width: 1015px;
        width: 100%;
        height: 162px;
        left: 132px;
        >.contactMeContainerThree {
            // width: 425.05px;
            max-width: 425.05px;
            width: 100%;
            height: 72.21px;
            display: flex;
            >.h2ContactMe {
                height: 60px;
                font-size: 54px;
                color: #E15544;
                margin: 0;
            }
            img.arrowContactMe {
                object-fit: cover;
                padding-left: 20px;
                top: 20px;
                position: relative;
            }
         }
    }
}

.contactMeContainerFive {
    display: flex;
    gap: 40px;
    >.contactMeTextContainer {
        display: flex;
        // width: 504px;
        max-width: 504px;
        width: 100%;
        height: 73px;
        >.contactMeText {
            font-size: 18px;
            font-weight: 400;
            color: #02F4BF;
            margin: 0;
        }
    }
}

.contactMeContainerSix {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    // width: 412px;
    max-width: 412px;
    width: 100%;
    gap: 16px;
    >.mailContactMeContainer, .phoneContactMeContainer {
        display: flex;
        align-items: center;
        gap: 16px;
        >.mailImg {
            width: 28.4x;
            height: 30px;
            &:hover {
                cursor: pointer;
                transition: 100ms ease-in-out;
            }
        }
        >.phoneImg {
            width: 26.25x;
            height: 30.94px;
            &:hover {
                cursor: pointer;
                transition: 100ms ease-in-out;
            }
        }
        >.mailContactMe, .phoneContactMe {
            color: #02F4BF;
            margin: 0;
            font-size: 20px;
        }
    }
}

.mailContactMe {
    white-space: nowrap;
}

.contactContainerTwo {
    max-width: 637px;
    width: 100%;
}

.mailAdress {
    text-decoration: none;
    color: #02F4BF;
    font-size: 20px;
}

.arrowUpContainer {
    max-width: 1184px;
    width: 100%;
    display: flex;
    justify-content: right;
    position: absolute;
    top: 90px;
}

.arrowUp {
    width: 22px;
    height: 50px;
    position: relative;
    &:hover.hovered {
        cursor: pointer;
        width: 38px;
        height: 68px;
        transition: 100ms ease-in-out;
    }
}

.container {
    // width: 1184px;
    max-width: 1184px;
    width: 100%;
    height: 144px;
    left: 131px;
}

input[type=text], [type=email] {
    // width: 507px;
    max-width: 637px;
    width: 100%;
    height: 56px;
    border: 1px solid #02F4BF;
    background-color: transparent;
    padding: 10px;
    box-sizing: border-box;
    color: #02F4BF;
}

textarea {
    padding: 10px;
    box-sizing: border-box;
}

#name {
    margin-bottom: 30px;
}

#message {
    // width: 637px;
    max-width: 637px;
    width: 100%;
    height: 144px;
    border: 1px solid #02F4BF;
    background-color: transparent;
    color: #02F4BF;
}

.contactContainerOne {
    display: flex;
    // width: 507px;
    max-width: 507px;
    width: 100%;
    height: 144px;
    flex-wrap: wrap;
}

.contactForm {
    display: flex;
    gap: 40px;
}

input::placeholder, ::placeholder {
    color: #0B8D8F;
}

input:valid, textarea:valid {
    border: 1px solid #02F4BF; 
}

input:focus, textarea:focus {
    border: 1px solid #02F4BF; 
    background-color: transparent;
    color: #02F4BF;
    outline: none; 
}

.contactMeContainerFour {
    display: flex;
    position: relative;
    // width: 1185px;
    max-width: 1185px;
    width: 90%;
    height: 74px;
    top: 20px;
    >.contactMeContainerSix {
        display: flex;
        align-items: center;
        // width: 978px;
        max-width: 978px;
        width: 100%;
        height: 27px;
        gap: 8px;
        >.contactMeContainerSixText {
            color: #02F4BF;
            font-size: 14px;
            font-weight: 400px;
            margin: 0;
            >.pp {
                color: #AE4247;
                &:hover {
                    color: #E15544;
                    cursor: pointer;
                    transition: color 100ms ease-in-out;
                }
            }
        }
    }
}

.customCheckbox {
    border: 1px solid red;
    background-color: transparent;
    width: 18px;
    height: 18px;
    appearance: none;
    &:hover {
        cursor: pointer;
    }
  
}
.customCheckbox:checked {
    background-color: #02F4BF;
    border: 1px solid red;
}

.customCheckbox:checked::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 11px;
    width: 5px;
    height: 9px;
    border: solid red;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .sendButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 52px;
    border: 1px solid #685F75;
    color: #685F75;
    font-size: 18px;
    position: relative;
    left: 102px;
    top: 21px;
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
    &.activeButton {
        border: 1px solid #02F4BF;
        color: #E15544;
      }
  }

input, textarea {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
  }
  
.errorField::placeholder {
    color: #E15544; 
    font-size: 14px;
    font-weight: 400;
}
  
input::placeholder, textarea::placeholder {
    color: #0B8D8F;
    font-size: 18px;
}
  
input:focus, textarea:focus {
    border-color: #02F4BF;
}

input.errorField {
    background-image: url('../../assets/img/warningSign.png');
}

textarea.errorField {
    background-image: url('../../assets/img/warningSign.png');
}

textarea.errorField {
    background-image: url('../../assets/img/warningSign.png');
    background-position: right 10px top 5px; 
    background-size: 25px 36.37px;
    padding-right: 35px;
}
  
.errorField {
    background-image: url('../../assets/img/warningSign.png');
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 25px 36.37px; 
    padding-right: 35px; 
}

textarea.validField {
    background-image: url('../../assets/img/greenCheckMark.png');
    background-position: right 10px top 5px; 
    background-size: 25px 36.37px;
    padding-right: 35px;
}

.validField {
    background-image: url('../../assets/img/greenCheckMark.png');
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 25px 36.37px; 
    padding-right: 35px; 
}

.contactMeContainerOneResponsive {
    display: none;
}

@media (max-width: 1080px) {

    .arrowUpContainer {
        display: none;
    }

}

@media (max-width: 790px) {

    .arrowUpContainer {
        display: block;
    }

    .contactMeContainerOne {
        display: none;
    }

    .contactMeContainerOneResponsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        // top: 540px;
        top: 600px;
    }

    .containerResponsive {
        width: 90%;
    }

    .contactMeContainerThreeResponsive {
        display: flex;
        justify-content: center;
        color: #E15544;
        font-size: 32px;
        font-weight: 700;
        >.h2ContactMeResponsive {
            margin: 0;
        }
    }

    .contactMeTextContainerResponsive {
        display: flex;
        text-align: center;
        color: #02F4BF;
        font-size: 16px;
        font-weight: 400;
        width: 90%;
    }

    .contactContainerOneResponsive, .contactContainerTwoResponsive {
        width: 100%;
    }

    .contactMeContainerTwoResponsive {
        // width: 337px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #name {
        margin-bottom: 10px;
    }

    #name,
    #email,
    #message {
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactFormResponsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        // width: 337px;
    }

    .contactMeContainerFiveResponsive {
        display: flex;
        justify-content: center;
    }

    .contactMeTextResponsive {
        width: 100%;
    }

    .contactMeContainerSixResponsive {
        display: flex;
        justify-content: center;
        color: #02F4BF;
        top: 10px;
        position: relative;
        gap: 5px;
        // width: 337px;
        >.contactMeContainerSixText {
            margin: 0;
        }
    }

    .contactMeContainerSevenResponsive {
        position: relative;
        top: 30px;
        display: flex;
        justify-content: center;
        >.sendButton {
            width: 79px;
            height: 43px;
            left: 0;
        }
    }

    .containerMailAndPhoneResponsive {
        position: relative;
        top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
    }

    .mailContactMeContainerResponsive, .phoneContactMeContainerResponsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .phoneContactMe {
        color: #02F4BF;
        font-size: 20px;
    }

    .arrowUpContainerResponsive {
        position: relative;
        top: 50px;
        display: flex;
        justify-content: right;
        width: 90%;
    }

    .arrowUp {
        top: 0;
    }

}

// @media (orientation: portrait) and (max-width: 667px) {

//     .contactMeContainerOneResponsive {
//         width: 667px;
//     }

// }

@media (max-width: 577px) {

    .contactMeContainerOneResponsive {
        top: 620px;
    }

}
  
  
  

  

  


