<div class="contactMeContainerOne">
    <div class="contactMeContainerTwo">
        <div class="contactMeContainerThree">
            <h2 class="h2ContactMe">Contact Me</h2>
            <img class="arrowContactMe" src="../../assets/img/Arrow6.png" alt="">
        </div>
        <div class="contactMeTextContainer">
            <p class="contactMeText">Still not sure if I am the right person for
                your project? Contact me so i can reassure
                you. Let us work together
            </p>
            <div class="test2">
            <div class="mailContactMeContainer">
                <img class="mailImg" src="../../assets/img/email.png" alt="">
                <p class="mailContactMe">E-mail: <a href="mailto:thomasjilge@gmx.de">thomasjilgeagmx.de</a></p>
            </div>
            <div class="phoneContactMeContainer">
                <img class="phoneImg" src="../../assets/img/phone.png" alt="">
                <p class="phoneContactMe">Tel: 0170/7032983</p>
            </div>
        </div>
            
        </div>
        <img class="arrowUp" src="../../assets/img/Arrow Up.png" alt="">
    </div>


    <div class="container">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm = "ngForm">
        <div class="contactForm">
        <div class="oktest">

        <div *ngIf="name.invalid && name.touched" class="warningMessage">Please enter a name</div>
        <label for="name"></label>
        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your Name" required>
        
        <div *ngIf="email.invalid && email.touched" class="warningMessage">Please enter a valid email</div>
          <label for="email"></label>
          <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your Email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        </div>
        <div class="oktest2">
        <div *ngIf="message.invalid && message.touched" class="warningMessage">Please enter a message</div>
        <label for="message"></label>
        <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Your Message" required></textarea>
    </div>
     
    </div>
          
          <div class="contactMeContainerFour">
            <div class="contactMeContainerSix">
                <label for="privacyPolicy">
                <input class="custom-checkbox" type="checkbox" id="privacyPolicy" name="privacyPolicy">
            </label>
                <p class="contactMeContainerSixText">I've read the <span class="pp">privacy policy</span> and agree to the processing of my data as outlined.</p>
            </div>
            <div class="contactMeContainerSeven">
                <button class="sendButton" type="submit">Send</button>
            </div>
          </div>
        </form>
      </div>

</div>
