@import "../../../styles.scss";

.contactMeContainerOne {
    position: relative;
    // top: 200px;
    padding-top: 100px;
    // margin-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
    width: 100%;
    // height: 430px;
    left: 105px;
    >.contactMeContainerTwo {
        // max-width: 1015px;
        width: 100%;
        height: 162px;
        left: 132px;
        >.contactMeContainerThree {
            max-width: 425.05px;
            width: 100%;
            height: 72.21px;
            display: flex;
            >.h2ContactMe {
                height: 60px;
                font-size: 54px;
                color: $primaryColorOne;
                margin: 0;
            }
            img.arrowContactMe {
                object-fit: cover;
                padding-left: 20px;
                top: 20px;
                position: relative;
            }
         }
    }
}

.contactMeContainerFive {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    width: 100%;
    // gap: clamp(10px, 3vw, 42px);
    gap: 42px;
    >.contactMeTextContainer {
        display: flex;
        max-width: 504px;
        width: 100%;
        height: 73px;
        >.contactMeText {
            font-size: 18px;
            font-weight: 400;
            color: $primaryColorTwo;
            margin: 0;
        }
    }
}

.contactMeContainerSix {
    position: relative;
    display: flex;
    flex-direction: column;
    // max-width: 637px;
    width: 100%;
    gap: 16px;
    >.mailContactMeContainer, .phoneContactMeContainer {
        display: flex;
        align-items: center;
        gap: 16px;
        >.mailImg {
            width: 28.4x;
            height: 30px;
            &:hover {
                cursor: pointer;
                transition: 125ms ease-in-out;
            }
        }
        >.phoneImg {
            width: 26.25x;
            height: 30.94px;
            &:hover {
                cursor: pointer;
                transition: 125ms ease-in-out;
            }
        }
        >.mailContactMe, .phoneContactMe {
            color: $primaryColorTwo;
            margin: 0;
            font-size: 20px;
        }
    }
}

.mailContactMe {
    white-space: nowrap;
}

.contactContainerTwo {
    max-width: 637px;
    width: 100%;
}

.mailAdress {
    text-decoration: none;
    color: $primaryColorTwo;
    font-size: 20px;
}

.arrowUpContainer {
    // max-width: 1184px;
    // width: 100%;
    width: 637px;
    display: flex;
    justify-content: right;
    // position: absolute;
    // top: 90px;
}

.arrowUp {
    width: 22px;
    height: 50px;
    position: relative;
    border: 1px solid transparent;
    bottom: 70px;
    &:hover.hovered {
        cursor: pointer;
        border-color: $primaryColorTwo;
        transition: 125ms ease-in-out;
    }
}

.container {
    max-width: 1184px;
    width: 100%;
    height: 144px;
    left: 131px;
}

input[type=text], [type=email] {
    max-width: 637px;
    width: 100%;
    height: 56px;
    border: 1px solid $primaryColorTwo;
    background-color: transparent;
    padding: 10px;
    box-sizing: border-box;
    color: $primaryColorTwo;
}

textarea {
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 999;
}

#name {
    margin-bottom: 30px;
}

#message {
    max-width: 637px;
    width: 100%;
    height: 144px;
    border: 1px solid $primaryColorTwo;
    background-color: transparent;
    color: $primaryColorTwo;
}

.contactContainerOne {
    display: flex;
    max-width: 507px;
    width: 100%;
    height: 144px;
    flex-wrap: wrap;
}

.contactForm {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

input::placeholder, ::placeholder {
    color: #0B8D8F;
}

input:focus, textarea:focus {
    border: 1px solid $primaryColorTwo; 
    background-color: transparent;
    color: $primaryColorTwo;
    outline: none; 
}

.contactMeContainerFour {
    position: relative;
    width: 100%;
    // top: 20px;
    >.contactMeContainerSeven {
        display: flex;
        align-items: center;
        max-width: 978px;
        width: 100%;
        height: 27px;
        gap: 8px;
        >.contactMeContainerSevenText {
            color: $primaryColorTwo;
            font-size: 14px;
            font-weight: 400px;
            margin: 0;
        }
    }
    >.contactMeContainerEight {
        display: flex;
        justify-content: end;
    }
}

.privacyLink {
    text-decoration: none;
    color: #AE4247;
    padding: 0 10px 0 10px;
         &:hover {
            color: $primaryColorOne;
            cursor: pointer;
            transition: color 125ms ease-in-out;
        }
}

.customCheckbox {
    position: relative;
    border: 1px solid red;
    background-color: transparent;
    width: 18px;
    height: 18px;
    appearance: none;
    &:hover {
        cursor: pointer;
        background-color: $primaryColorTwo;
    }
  
}
.customCheckbox:checked {
    background-color: $primaryColorTwo;
    border: 1px solid red;
}

.customCheckbox:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 9px;
    border: solid red;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .sendButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 52px;
    border: 1px solid #685F75;
    color: #685F75;
    font-size: 18px;
    position: relative;
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
    &.activeButton {
        border: 1px solid $primaryColorTwo;
        color: $primaryColorOne;
        &:hover {
            color: $primaryColorTwo;
        }
      }
  }

input, textarea {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
  }
  
.errorField::placeholder {
    color: $primaryColorOne; 
    font-size: 14px;
    font-weight: 400;
}
  
input::placeholder, textarea::placeholder {
    color: #0B8D8F;
    font-size: 18px;
}
  
input:focus, textarea:focus {
    border-color: $primaryColorTwo;
}

input.errorField {
    background-image: url('../../../assets/img/warningSign.png');
}

textarea.errorField {
    background-image: url('../../../assets/img/warningSign.png');
}

textarea.errorField {
    background-image: url('../../../assets/img/warningSign.png');
    background-position: right 10px top 5px; 
    background-size: 25px 36.37px;
    padding-right: 35px;
}
  
.errorField {
    background-image: url('../../../assets/img/warningSign.png');
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 25px 36.37px; 
    padding-right: 35px; 
}

textarea.validField {
    background-image: url('../../../assets/img/greenCheckMark.png');
    background-position: right 10px top 5px; 
    background-size: 25px 36.37px;
    padding-right: 35px;
}

.validField {
    background-image: url('../../../assets/img/greenCheckMark.png');
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 25px 36.37px; 
    padding-right: 35px; 
}

.contactMeContainerOneResponsive {
    display: none;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    >.popup {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border: 2px solid $primaryColorTwo;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        max-width: 400px;
        width: 80%;
        font-size: 18px;
    }
}
  
.popup p {
    margin-bottom: 20px;
    color: $primaryColorTwo;
}
  
.popup button {
    background-color: $primaryColorTwo;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    &:hover {
        color: $primaryColorOne;
    }
}
  
@media only screen and (max-width: 1440px) {

    .contactMeContainerOne {
        left: 0;
        width: 90%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 1080px) {

    .contactMeContainerFive {
        gap: 20px;
    }

    .arrowUpContainer {
        display: none;
    }

    .contactForm {
        margin-top: 40px;
    }

}

@media only screen and (max-width: 1024px) {

    .contactForm {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .contactContainerOne, .contactContainerTwo {
        max-width: none;
    }

    .contactMeText {
        font-size: clamp(16px, 2vw, 18px) !important;
    }

    .contactContainerOne > #name {
        margin-bottom: 0;
    }

    #name,
    #email,
    #message {
        width: 100%;
        max-width: none;
    }

    .contactMeContainerEight {
        position: relative;
        margin-top: 20px;
        justify-content: center !important;
    }

}

@media only screen and (max-width: 768px) {

    .contactMeContainerOne {
        top: 550px;
    }

    .contactMeContainerSix, .arrowContactMeContainer {
        display: none;
    }

    .contactMeContainerTwo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contactMeContainerThree {
        justify-content: center;
    }

    .h2ContactMe {
        font-size: 38px !important;
    }

    .contactMeContainerFour {
        padding-top: 10px;
    }

    .contactMeContainerFive {
        gap: 0;
        justify-content: center;
    }
}

@media only screen and (max-width: 410px) {

    .contactMeContainerEight {
        margin-top: 35px;
    }

}
  
  
  

  

  


