@import "../../../styles.scss";

.sectionAboutMe {
    max-width: 1440px;
    width: 100%;
}

.firstSectionAboutMeContainerOne {
    max-width: 1337px;
    // max-width: 1920px;
    width: 100%;
    height: 665px;
    top: 94px;
    position: relative;
}

.firstSectionAboutMeContainerTwo {
    position: relative;
    max-width: 1284px;
    // max-width: 1920px;
    width: 100%;
    height: 556px;
    left: 105px;
    display: flex;
    justify-content: space-between;
}

// .contactForm {
//     position: absolute;
//     text-decoration: none;
// }

.contactMeContainerOne {
    position: relative;
    width: 169px;
    height: 52px;
    top: 215px;
    left: -57px;
    gap: 10px;
    transform: rotate(90deg);
    transform-origin: center;
    border: 1px solid $primaryColorTwo;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
    >.contactMeContainerTwo {
        width: 109px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        size: 18px;
        transform: rotate(180deg);
        >.contactMeContainerTwoAnchor {
            text-decoration: none;
            color: $primaryColorOne;
        }
    }
    &:hover .contactMeContainerTwo > .contactMeContainerTwoAnchor{
        color: $primaryColorTwo;
        cursor: pointer;
        transition: color 125ms ease-in-out;
    }
}

.infoFieldOne {
    position: relative;
    max-width: 808px;
    width: 100%;
    height: 142px;
    top: 412px;
    gap: 8px;
    >.infoFieldTwo {
        color: $primaryColorTwo;
        max-width: 808px;
        width: 100%;
    }
}

.infoFieldDescripton {
    font-size: clamp(40px, 5vw, 54px);
    font-weight: 500px;
    max-width: 808px;
    width: 100%;
    white-space: nowrap;
}

.infoFieldName {
    font-size: clamp(60px, 8vw, 82px);
    font-weight: 700;
    max-width: 808px;
    width: 100%;
    white-space: nowrap;
}

p {
    margin: 0;
}

.arrowDownContainer {
    position: relative;
}

.arrowDown {
    // position: relative;
    position: absolute;
    width: 22px;
    height: 50px;
    top: 306px;
    left: 600px;
    &:hover.hovered {
        cursor: pointer;
        width: 38px;
        height: 68px;
        transition: 100ms ease-in-out;
    }
}

.tjImgContainer {
    max-width: 1337px;
    width: 100%;
    display: flex;
    // justify-content: flex-end;
    justify-content: center;
}

.tjImg {
    position: relative;
    max-width: 539px;
    width: 100%;
    height: 554px;
    object-fit: contain;
}

// @media only screen and (max-width: 1920px) {

//     .test {
//         display: flex;
//         justify-content: center;
//     }

// }

@media only screen and (max-width: 1080px) {

    .arrowDownContainer {
        display: none;
    }

}


@media only screen and (max-width: 768px) {

    .firstSectionAboutMeContainerOne {
        max-width: 1337px;
        width: 100%;
        height: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
        >.firstSectionAboutMeContainerTwo {
            max-width: 1284px;
            width: 100%;
            height: 370px;
            display: flex;
            justify-content: center;
        }
    }

    .tjImgContainer {
        justify-content: center;
        position: absolute;
        >.tjImg {
            position: relative;
            max-width: 388px;
            width: 100%;
            height: 370px;
            left: 0;
        }
    }

    .infoFieldOne {
        width: 389px;
        height: 150px;
        display: flex;
        text-align: center;
        justify-content: center;
        top: 385px;
    }

    .infoFieldDescripton {
        font-size: 22px;
    }

    .infoFieldName {
        font-size: 40px;
    }

    .arrowDown {
        display: none;
    }

    .contactMeContainerOne {
        display: none;
    }

} 

// @media (orientation: portrait) and (max-width: 375px) {

//     .firstSectionAboutMeContainerOne {
//         max-width: 667px;
//     }

// }

@media only screen and (max-width: 396px) {

    .infoFieldOne {
        max-width: 389px;
        width: 90%;
    }

    .infoFieldName {
        font-size: 32px;
    }

}

