<div class="myProjectsContainerOne" id="myProjects">
    <div class="h2MyProjectsTwo">
        <h2 class="h2MyProjects">My Projects</h2>
    </div>
    <div class="myProjectsContainerThree">
        <div class="projectOne">
            <img class="projectImg" src="../../assets/img/Project pic.Pollo loco.png" alt="">
            <div class="projectOneDescription">
                <div class="projectOneDescriptionHeader">
                    <p class="projectOneHeadline">EL POLLO LOCO</p>
                </div>
                <div class="projectOneLanguagesContainer">
                    <p class="projectOneLanguages">JavaScript | HTML | CSS</p>
                </div>
                <div class="projectOneInfo">
                    <p class="projectOneInfoText">Jump, rund and throw game based on object-<br>oriented approach. Help Pepe to find coins<br>
                    and tabasco salsa to fight against the crazy<br>hen.
                    </p> 
                </div>
                <div class="projectOneInfoButtons">
                     <a class="githubButton" href="https://github.com/ThomasJilge/El-Pollo-Loco" target="_blank">GitHub</a>
                    <div class="liveTestButton">Live Test</div>
                </div>
            </div>
        </div>

        <div class="projectTwo">
            <div class="projectTwoDescription">
                <div class="projectTwoDescriptionHeader">
                    <p class="projectTwoHeadline">Join</p>
                </div>
                <div class="projectTwoLanguagesContainer">
                    <p class="projectTwoLanguages">JavaScript | HTML | CSS</p>
                </div>
                <div class="projectTwoInfo">
                    <p class="projectTwoInfoText">Task manager inspired by the Kanban System.<br>
                    Create and organize tasks using drag and drop<br>
                    functions, assign users and categories.
                    </p> 
                </div>
                <div class="projectTwoInfoButtons">
                    <a class="githubButton" href="" target="_blank">GitHub</a>
                    <div class="liveTestButton">Live Test</div>
                </div>
            </div>
            <img class="projectImg" src="../../assets/img/join.PNG" alt="">
        </div>

    </div>
</div>

