.myProjectsContainerOne {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1439px;
    position: relative;
    top: 30px;
    >.h2MyProjectsTwo {
        display: flex;
        justify-content: center;
        width: 357px;
        height: 65px;
        margin-bottom: 30px;
        >.h2MyProjects {
            color: #E15544;
            font-size: 54px;
            margin: 0;
        }
    }
}

.myProjectsContainerThree {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1439px;
    height: 850px;
    >.projectOne {
        display: flex;
        justify-content: space-between;
        width: 1134px;
        height: 371px;
        >.projectImg {
            width: 588px;
            height: 371px;
        }
        >.projectOneDescription {
            position: relative;
            left: 30px;
            width: 498px;
            height: 318px;
            >.projectOneDescriptionHeader {
                width: 498px;
            }
        }
    }
    >.projectTwo {
        display: flex;
        position: relative;
        justify-content: space-between;
        top: 50px;
        width: 1134px;
        height: 371px;
        left: 44px;
        >.projectImg {
            max-width: 588px;
            height: 371px;
        }
    }
}



.projectOneHeadline {
    color: #02F4BF;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
    width: 475px;
    height: 59px;
}

.projectTwoDescription {
    position: relative;
    right: 30px;
    width: 498px;
    height: 318px;
    >.projectTwoDescriptionHeader {
        display: flex;
        justify-content: end;
    }
}

.projectTwoHeadline {
    display: flex;
    justify-content: end;
    color: #02F4BF;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
    width: 475px;
    height: 59px;
}

.projectOneLanguagesContainer {
    width: 249px;
    height: 25px;
    letter-spacing: 0.2em;
    >.projectOneLanguages {
        color: #02F4BF;
        size: 18px;
        font-weight: 400;
        margin: 0;
    }
}

.projectTwoLanguagesContainer {
    letter-spacing: 0.2em;
}

.projectTwoLanguages {
    display: flex;
    justify-content: end;
    color: #02F4BF;
    size: 18px;
    font-weight: 400;
    margin: 0;
}

.projectOneInfo, .projectTwoInfo {
    width: 499px;
    height: 175px;
}

.projectOneInfoText {
    position: relative;
    top: 60px;
    color: #02F4BF;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.projectTwoInfoText {
    display: flex;
    justify-content: end;
    position: relative;
    top: 60px;
    color: #02F4BF;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.projectOneInfoButtons {
    display: flex;
    height: 52px;
    gap: 24px;
}

.projectTwoInfoButtons {
    display: flex;
    justify-content: end;
    height: 52px;
    gap: 24px;
}

.githubButton {
    color: #E15544;
    width: 125px;
    height: 52px;
    border: 1px solid #02F4BF;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.githubButton:hover {
    color: #02F4BF;
    cursor: pointer;
    transition: color 100ms ease-in-out;
}

.liveTestButton {
    background-color: #02F4BF;
    width: 158px;
    height: 52px;
    border: 1px solid #02F4BF;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liveTestButton:hover {
    color: #E15544;
    cursor: pointer;
    transition: color 100ms ease-in-out;
}

.myProjectsContainerOneResponsive {
    display: none;
}

@media (max-width: 1224px) {

    .myProjectsContainerOne {
        display: none;
    }

    .myProjectsContainerOneResponsive {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            // top: 450px;
    }

    .h2MyProjectsResponsive {
        color: #E15544;
        font-size: 32px;
        font-weight: 700;
    }

    .projectOneDescriptionHeaderResponsive, 
    .projectOneLanguagesContainerResponsive, 
    .projectOneInfoResponsive,
    .projectTwoDescriptionHeaderResponsive, 
    .projectTwoLanguagesContainerResponsive, 
    .projectTwoInfoResponsive {
        display: flex;
        justify-content: center;
    }

    .projectOneHeadlineResponsive,
    .projectTwoHeadlineResponsive {
        color: #02F4BF;
        font-size: 24px;
        font-weight: 700;
    }

    .projectOneLanguagesResponsive,
    .projectTwoLanguagesResponsive{
        color: #02F4BF;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }

    .projectOneInfoTextResponsive,
    .projectTwoInfoTextResponsive {
        color: #02F4BF;
        font-size: 16px;
        font-weight: 400;
    }

    .projectImgResponsive {
        // width: 337px;
        max-width: 588px;
        width: 100%;
        height: auto;
        // height: 214px;
    }

    .projectOneInfoButtonsResponsive,
    .projectTwoInfoButtonsResponsive {
        display: flex;
        justify-content: center;
        gap: 24px;
        position: relative;
        top: 20px;
    }

    .projectTwoDescriptionResponsive {
        position: relative;
        top: 30px;
    }

    .githubButton {
        width: 98px;
        height: 43px;
    }

    .liveTestButton {
        width: 127px;
        height: 43px;
    }

    .myProjectsContainerThreeResponsive {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 790px) {

    .myProjectsContainerOneResponsive {
        // top: 440px;
        top: 430px;
    }

}

// @media (orientation: portrait) and (max-width: 667px) {

//     .myProjectsContainerOneResponsive {
//         width: 667px;
//     }

// }

@media (max-width: 576px) {

    .myProjectsContainerOneResponsive {
        top: 450px;
    }

}

@media (max-width: 340px) {

    .projectOneInfoResponsive, .projectTwoInfoResponsive {
        justify-content: center;
    }

    .projectOneInfoTextResponsive, .projectTwoInfoTextResponsive {
        font-size: 14px;
    }

}