<div #topOfPage></div>
<section class="sectionDataProtection">
<div class="content">
<h1>{{ "DATA_PROTECTION.DATA_PROTECTION_ONE" | translate }}</h1>
<h2>{{ "DATA_PROTECTION.DATA_PROTECTION_TWO" | translate }}</h2>
<h3>{{ "DATA_PROTECTION.GENERAL_INFORMATION" | translate }}</h3>
<p>{{ "DATA_PROTECTION.GENERAL_INFORMATION_TEXT" | translate }}</p>

<h2>{{ "DATA_PROTECTION.DATA_COLLECTION" | translate }}</h2>
<h3>{{ "DATA_PROTECTION.DATA_COLLECTION_INFORMATION" | translate }}</h3>
<p>{{ "DATA_PROTECTION.DATA_COLLECTION_TEXT" | translate }}</p>

<h3>{{ "DATA_PROTECTION.DATA_COLLECTION_CAPTURE" | translate }}</h3>
<p>{{ "DATA_PROTECTION.DATA_COLLECTION_CAPTURE_TEXT" | translate }}</p>

<h3>{{ "DATA_PROTECTION.DATA_COLLECTION_USE" | translate }}</h3>
<p>{{ "DATA_PROTECTION.DATA_COLLECTION_USE_TEXT" | translate }}</p>

<h3>{{ "DATA_PROTECTION.DATA_COLLECTION_RIGHTS" | translate }}</h3>
<p>{{ "DATA_PROTECTION.DATA_COLLECTION_RIGHTS_TEXT" | translate }}</p>

<h1>{{ "DATA_PROTECTION.HOSTING" | translate }}</h1>
<p>{{ "DATA_PROTECTION.HOSTING_TEXT" | translate }}</p>
<h3>{{ "DATA_PROTECTION.HOSTING_ORDER_PROCESSING" | translate }}</h3>
<p>{{ "DATA_PROTECTION.HOSTING_ORDER_PROCESSING_TEXT" | translate }}</p>

<h1>{{ "DATA_PROTECTION.INFORMATION" | translate }}</h1>
<h2>{{ "DATA_PROTECTION.INFORMATION_DATA_PROTECTION" | translate }}</h2>
<p>{{ "DATA_PROTECTION.INFORMATION_DATA_PROTECTION_TEXT" | translate }}</p>

<h3>{{ "DATA_PROTECTION.INFORMATION_RESPONSIBLE_BODY" | translate }}</h3>
<p>{{ "DATA_PROTECTION.INFORMATION_RESPONSIBLE_BODY_TEXT_ONE" | translate }}</p>
<p>{{ "DATA_PROTECTION.INFORMATION_RESPONSIBLE_BODY_TEXT_INFO" | translate }}</p>
<p>{{ "DATA_PROTECTION.INFORMATION_RESPONSIBLE_BODY_TEXT_TWO" | translate }}</p>

<h3>{{ "DATA_PROTECTION.INFORMATION_STORAGE_DURATION" | translate }}</h3>
<p>{{ "DATA_PROTECTION.INFORMATION_STORAGE_DURATION_TEXT" | translate }}</p>

<h3>{{ "DATA_PROTECTION.INFORMATION_LEGAL_BASIS" | translate }}</h3>
<p>{{ "DATA_PROTECTION.INFORMATION_LEGAL_BASIS_TEXT" | translate }}</p>

<h3>{{ "DATA_PROTECTION.INFORMATION_PERSONAL_DATA" | translate }}</h3>
<p>{{ "DATA_PROTECTION.INFORMATION_PERSONAL_DATA_TEXT" | translate }}</p>

<h3>{{ "DATA_PROTECTION.INFORMATION_RECALL" | translate }}</h3>
<p>{{ "DATA_PROTECTION.INFORMATION_RECALL_TEXT" | translate }}</p>

<h3>{{ "DATA_PROTECTION.INFORMATION_CONSENT" | translate }}</h3>
<p>{{ "DATA_PROTECTION.INFORMATION_CONSENT_TEXT" | translate }}</p>

<h3>{{ "DATA_PROTECTION.INFORMATION_APPEAL" | translate }}</h3>
<p>{{ "DATA_PROTECTION.INFORMATION_APPEAL_TEXT" | translate }}</p>

<h3>{{ "DATA_PROTECTION.INFORMATION_DATA_PORTABILITY" | translate }}</h3>
<p>{{ "DATA_PROTECTION.INFORMATION_DATA_PORTABILITYL_TEXT" | translate }}</p>

<h3>{{ "DATA_PROTECTION.INFORMATION_CORRECTION" | translate }}</h3>
<p>{{ "DATA_PROTECTION.INFORMATION_CORRECTION_TEXT" | translate }}</p>

<h3>{{ "DATA_PROTECTION.INFORMATION_RESTRICTION" | translate }}</h3>
<p>{{ "DATA_PROTECTION.INFORMATION_RESTRICTION_TEXT_ONE" | translate }}</p>
<p>{{ "DATA_PROTECTION.INFORMATION_RESTRICTION_TEXT_TWO" | translate }}</p>
<p>{{ "DATA_PROTECTION.INFORMATION_RESTRICTION_TEXT_THREE" | translate }}</p>
<p>{{ "DATA_PROTECTION.INFORMATION_RESTRICTION_TEXT_FIVE" | translate }}</p>
<p>{{ "DATA_PROTECTION.INFORMATION_RESTRICTION_TEXT_SIX" | translate }}</p>

<h3>{{ "DATA_PROTECTION.INFORMATION_ENCRYPTION" | translate }}</h3>
<p>{{ "DATA_PROTECTION.INFORMATION_ENCRYPTION_TEXT" | translate }}</p>

<h1>{{ "DATA_PROTECTION.INFORMATION_DATA_ACQUISITION" | translate }}</h1>
<h3>{{ "DATA_PROTECTION.INFORMATION_DATA_ACQUISITION_CONTACTFORM" | translate }}</h3>
<p>{{ "DATA_PROTECTION.INFORMATION_DATA_ACQUISITION_CONTACTFORM_TEXT" | translate }}</p>

<h3>{{ "DATA_PROTECTION.INFORMATION_DATA_REQUEST" | translate }}</h3>
<p>{{ "DATA_PROTECTION.INFORMATION_DATA_REQUEST_TEXT" | translate }}</p>

    <h2>{{ "DATA_PROTECTION.INFORMATION_DATA_PLUGINS" | translate }}</h2>
    <h3>{{ "DATA_PROTECTION.INFORMATION_DATA_FONTS" | translate }}</h3>
    <p>{{ "DATA_PROTECTION.INFORMATION_DATA_FONTS_TEXT" | translate }}</p>
    <p>{{ "DATA_PROTECTION.SOURCE" | translate }}</p>
</div>
</section>