@import '../../../styles.scss';

.sectionDataProtection {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1440px;
    width: 100%;
    color: $primaryColorTwo;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    padding: 92px 24px 24px 24px;
    font-size: clamp(14px, 2vw, 16px);
}
