@import '../../../styles.scss';

.sectionDataProtection {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1440px;
    width: 100%;
    color: $primaryColorTwo;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 24px;
}

.source {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.href {
    color: $primaryColorThree;
    &:hover {
        color: $primaryColorOne;
        cursor: pointer;
        transition: color 125ms ease-in-out;
    }
}