@import '../../../styles.scss';

.content {
    color: $primaryColorTwo;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    >span {
        font-size: 24px;
    }
    >h2 {
        margin-bottom: 0;
    }


}