@import '../../../styles.scss';

.header {
    position: relative !important;
}

.headerMenuLinks {
    display: none !important;
}

.content {
    max-width: 1440px;
    color: $primaryColorTwo;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    >span {
        font-size: 24px;
    }
    >h2 {
        margin-bottom: 0;
    }

    


}