<div class="firstSectionAboutMeContainerOne">
    <!-- <div class="firstSectionAboutMeContainerOne"> -->
        <div class="firstSectionAboutMeContainerTwo">
            <div class="contactMeContainerOne">
                <div class="contactMeContainerTwo">
                    <p>CONTACT ME</p>
                </div>
            </div>
            <div class="arrowDownContainer" id="arrowDownContainer">
                <img class="arrowDown" id="arrowDown" src="{{ arrowDownSrc }}" (mouseover)="onHover()" (mouseout)="onLeave()" alt="">
            </div>
            <div class="tjImgContainer">
                <img class="tjImg" src="../../assets/img/pp.png" alt="">
            </div>
            <div class="infoFieldOne">
                <div class="infoFieldTwo">
                    <p class="infoFieldDescripton">FRONTEND DEVELOPER</p>
                    <p class="infoFieldName">THOMAS JILGE</p>
                </div>
                
            </div>
        </div>
    <!-- </div> -->
</div>

