<div class="firstSectionAboutMeContainer">
    <div class="firstSectionAboutMeContainerOne">
        <div class="firstSectionAboutMeContainerTwo">
            <div class="contactMeContainerOne">
                <div class="contactMeContainerTwo">
                    <p>CONTACT ME</p>
                </div>
            </div>
            <div class="infoFieldOne">
                <div class="infoFieldTwo">
                    <p class="infoFieldDescripton">FRONTEND DEVELOPER</p>
                    <p class="infoFieldName">THOMAS JILGE</p>
                </div>
                
            </div>
        </div>
    </div>
</div>

