.firstSectionAboutMeContainerOne {
    // max-width: 1440px;
    // margin-left: 140px;
    // margin-right: 140px;
    // width: 100%;
    width: 1337px;
    height: 554px;
    top: 2px;
    // position: relative;
    left: -53px;
}

// .firstSectionAboutMeContainerOne {
//     border: 1px solid green;
// }

.firstSectionAboutMeContainerTwo {
    // position: relative;
    // background-color: grey;
    // border: 1px solid red;
    width: 1284px;
    height: 556px;
    top: 94px;
    left: 105px;
    // left: -53px;
}

.contactMeContainerOne {
    position: absolute;
    width: 169px;
    height: 52px;
    top: 175px;
    left: -57px;
    gap: 10px;
    transform: rotate(90deg);
    transform-origin: center;
    border: 1px solid #02F4BF;
    display: flex;
    justify-content: center;
    align-items: center;
    >.contactMeContainerTwo {
        width: 109px;
        height: 22px;
        display: flex;
        align-items: center;
        size: 18px;
        transform: rotate(180deg);
        color: #E15544;
    }
    &:hover .contactMeContainerTwo {
        color: #02F4BF;
        cursor: pointer;
    }
}

.infoFieldOne {
    position: absolute;
    width: 808px;
    height: 142px;
    top: 412px;
    // left: 50px;
    // left: -172px;
    gap: 8px;
    // border: 1px solid yellow;
}

.infoFieldTwo {
    color: #02F4BF;
}

.infoFieldDescripton {
    // width: 596px;
    // height: 53px;
    font-size: 54px;
    font-weight: 500px;
}

.infoFieldName {
    font-size: 82px;
    font-weight: 700;
}


p {
    margin: 0;
}

.arrowDown {
    position: absolute;
    width: 22px;
    height: 50px;
    top: 306px;
    left: 669px;
    &:hover {
        cursor: pointer;
        // border: 1px solid #02F4BF;
    }
}

// .arrowDownContainer .arrowDown:hover {
//     content: url('../../assets/img/arrowHoverDown.png');
// }

.tjImg {
    position: absolute;
    width: 539px;
    height: 554px;
    left: 796px;
    object-fit: contain;
}