.firstSectionAboutMeContainerOne {
    max-width: 1337px;
    width: 100%;
    height: 665px;
    top: 94px;
    position: relative;
    display: flex;
    justify-content: end;
    // left: -53px;
    >.firstSectionAboutMeContainerTwo {
        // position: relative;
        max-width: 1284px;
        width: 100%;
        height: 556px;
    }
}

.contactForm {
    text-decoration: none;
}

.contactMeContainerOne {
    // position: absolute;
    position: relative;
    width: 169px;
    height: 52px;
    top: 215px;
    left: -57px;
    gap: 10px;
    transform: rotate(90deg);
    transform-origin: center;
    border: 1px solid #02F4BF;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
    >.contactMeContainerTwo {
        width: 109px;
        height: 22px;
        display: flex;
        align-items: center;
        size: 18px;
        transform: rotate(180deg);
        >.contactMeContainerTwoAnchor {
            text-decoration: none;
            color: #E15544;
        }
    }
    &:hover .contactMeContainerTwo > .contactMeContainerTwoAnchor{
        color: #02F4BF;
        cursor: pointer;
        transition: color 100ms ease-in-out;
    }
}

.infoFieldOne {
    // position: absolute;
    position: relative;
    max-width: 808px;
    width: 100%;
    height: 142px;
    // top: 412px;
    top: -180px;
    gap: 8px;
    >.infoFieldTwo {
        color: #02F4BF;
    }
}

.infoFieldDescripton {
    font-size: 54px;
    font-weight: 500px;
}

.infoFieldName {
    font-size: 82px;
    font-weight: 700;
}

p {
    margin: 0;
}

.arrowDown {
    // position: absolute;
    position: relative;
    width: 22px;
    height: 50px;
    top: 306px;
    left: 669px;
    &:hover.hovered {
        cursor: pointer;
        width: 38px;
        height: 68px;
        transition: 100ms ease-in-out;
    }
}

.tjImgContainer {
    max-width: 1337px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.tjImg {
    // position: absolute;
    position: relative;
    max-width: 539px;
    width: 100%;
    height: 554px;
    // left: 796px;
    object-fit: contain;
}


@media (max-width: 768px) {

    .tjImgContainer {
        justify-content: center;
    }

    .tjImg {
        left: 0;
    }

    .infoFieldOne {
        top: 560px;
    }

    .arrowDown {
        display: none;
    }

    .contactMeContainerOne {
        display: none;
    }

}

@media (max-width: 768px) {

    .firstSectionAboutMeContainerOne {
        max-width: 1337px;
        width: 100%;
        height: 370px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        >.firstSectionAboutMeContainerTwo {
            max-width: 1284px;
            width: 100%;
            height: 370px;
            display: flex;
            justify-content: center;
        }
    }

    .tjImg {
        position: relative;
        max-width: 388px;
        width: 100%;
        height: 370px;
    }

    .infoFieldOne {
        width: 389px;
        height: 150px;
        display: flex;
        text-align: center;
        justify-content: center;
        top: 385px;
    }

    .infoFieldDescripton {
        font-size: 24px;
    }

    .infoFieldName {
        font-size: 40px;
    }

}

@media (max-width: 396px) {

    .infoFieldOne {
        max-width: 389px;
        width: 90%;
    }

    .infoFieldName {
        font-size: 32px;
    }

}

