.whyMeContainerOne {
    display: flex;
    width: 1224px;
    height: 452px;
    top: 754px;
    left: 105px;
    gap: 2px;
}

.tjImgWhyMe {
    width: 490px;
    height: 452px;

    object-fit: contain;
}

.whyMeContainerTwo {
    width: 729px;
    height: 452px;
}

.h2WhyMeContainer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 524px;
    height: 53px;
    left: 206px;
    gap: 10px;
    >.h2WhyMe {
        font-size: 54px;
        color:#E15544;
        margin: 0;
    } 
}

.infoWhyMeContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 685px;
    height: 84px;
    left: 42px;
    >.infoText {
        size: 16px;
        color: #02F4BF; 
        margin: 0;
        display: flex;
        text-align: right;
     }
}

.iAmContainerTwo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 568px;
    height: 186px;
    left: 159;
    gap: 8px;
}

.locatedContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 568px;
    height: 56px;
    gap: 64px;
}

.iAmText {
    width: 116px;
    height: 49px;
    font-size: 48px;
    font-weight: 700;
    color: #E15544;
    margin: 0;
}

.locatedText {
    color: #02F4BF;
    font-size: 18px;
    margin: 0;
    position: relative;
    left: 15px;
}

.locatedImg {
    width: 33.31px;
    height: 41px;
    top: 8px;
}

.test {
    display: flex;
    align-items: center;
    width: 235px;
    height: 57px;
}

.iAmContainerOne {
    display: flex;
    justify-content: end;
}

.relocateArrowImg {
    width: 22.95px;
    height: 56px;
}

.relocateImg {
    width: 30px;
    height: 48.98px;
}

.relocateContainer {
    position: relative;
    display: flex;
    height: 56px;
    gap: 208px;
    padding-left: 152px;
}

.openToRelocate {
    display: flex;
    align-items: center;
    width: 130px;
    height: 48px;
}

.relocateText {
    position: relative;
    font-size: 18px;
    width: 96px;
    height: 40px;
    top: 1px;
    color: #02F4BF;
    left: 25px;
    margin: 0;
}

.remoteContainerOne {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    
}

.remoteContainerTwo {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 241.85px;
    height: 58px;
    gap: 13px;
    padding-left: 168px;
}

.remoteText {
    width: 125px;
    color: #02F4BF;
    font-size: 18px;
    margin: 0;
    display: flex;
    align-items: center;
}

.remoteImg {
    width: 53.58px;
    height: 46.99px;
}

.remoteArrowOneImg {
    width: 23.85px;
    height: 39.95px;
    object-fit: cover;
}

.letsTalkContainerOne {
    display: flex;
    justify-content: end;
    position: relative;
    top: 20px;
}

.letsTalkContainerTwo {
    display: flex;
    justify-content: end;
    width: 521px;
    height: 52px;
    gap: 10px;
    > a {
        text-decoration: none;
    }
}

.letsTalkButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 52px;
    color: black;
    background-color: #02F4BF;
}

.letsTalkButton:hover {
    cursor: pointer;
    color: #E15544;
    transition: color 100ms ease-in-out;
}

.locatedImgTwo {
    display: none;
    width: 18px;
    height: 12px;
    object-fit: contain;
}

.test2 {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.test:hover .locatedImgTwo {
    display: block;
}

.laptopHoverImg {
    width: 53.58px;
    height: 46.99px;
}

@media (max-width: 768px) {

    .whyMeContainerOne {
        position: relative;
        top: 200px;
    }

    .tjImgWhyMeContainer {
        display: none;
    }

}





