.whyMeContainerOne {
    display: flex;
    width: 1224px;
    height: 452px;
    top: 754px;
    left: 105px;
    gap: 2px;
}

.tjImgWhyMe {
    width: 490px;
    height: 452px;
    object-fit: contain;
}

.whyMeContainerTwo {
    width: 729px;
    height: 452px;
}

.h2WhyMeContainer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 524px;
    height: 53px;
    left: 206px;
    gap: 10px;
    >.h2WhyMe {
        font-size: 54px;
        color:#E15544;
        margin: 0;
    } 
}

.infoWhyMeContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 685px;
    height: 84px;
    left: 42px;
    >.infoText {
        size: 16px;
        color: #02F4BF; 
        margin: 0;
        display: flex;
        text-align: right;
     }
}

.iAmContainerTwo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 568px;
    height: 186px;
    left: 159;
    gap: 8px;
    >.locatedContainer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: start;
        width: 568px;
        height: 56px;
        gap: 64px;
        >.iAmText {
            width: 116px;
            height: 49px;
            font-size: 48px;
            font-weight: 700;
            color: #E15544;
            margin: 0;
        }
    }
}

.locatedText {
    color: #02F4BF;
    font-size: 18px;
    margin: 0;
    position: relative;
    left: 15px;
}

.locatedImg {
    width: 33.31px;
    height: 41px;
    top: 8px;
}

.test {
    display: flex;
    align-items: center;
    width: 235px;
    height: 57px;
}

.iAmContainerOne {
    display: flex;
    justify-content: end;
}

.relocateArrowImg {
    width: 22.95px;
    height: 56px;
}

.relocateImg {
    width: 30px;
    height: 48.98px;
}

.relocateContainer {
    position: relative;
    display: flex;
    height: 56px;
    gap: 208px;
    padding-left: 152px;
    >.openToRelocate {
        display: flex;
        align-items: center;
        width: 130px;
        height: 48px;
    }
}

.relocateText {
    position: relative;
    font-size: 18px;
    width: 96px;
    height: 40px;
    top: 1px;
    color: #02F4BF;
    left: 25px;
    margin: 0;
}

.remoteContainerOne {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    >.remoteContainerTwo {
        display: flex;
        justify-content: end;
        align-items: end;
        width: 241.85px;
        height: 58px;
        gap: 13px;
        padding-left: 168px;
    }
}

.remoteText {
    width: 125px;
    color: #02F4BF;
    font-size: 18px;
    margin: 0;
    display: flex;
    align-items: center;
}

.remoteImg {
    width: 53.58px;
    height: 46.99px;
}

.remoteArrowOneImg {
    width: 23.85px;
    height: 39.95px;
    object-fit: cover;
}

.letsTalkContainerOne {
    display: flex;
    justify-content: end;
    position: relative;
    top: 20px;
    >.letsTalkContainerTwo {
        display: flex;
        justify-content: end;
        width: 521px;
        height: 52px;
        gap: 10px;
        > a {
            text-decoration: none;
        }
    }
}

.letsTalkButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 52px;
    color: black;
    background-color: #02F4BF;
}

.letsTalkButton:hover {
    cursor: pointer;
    color: #E15544;
    transition: color 100ms ease-in-out;
}

.locatedImgTwo {
    display: none;
    width: 18px;
    height: 12px;
    object-fit: contain;
}

.test2 {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.test:hover .locatedImgTwo {
    display: block;
}

.laptopHoverImg {
    width: 53.58px;
    height: 46.99px;
}

.relocateArrowImgResponsiveContainerOne {
    display: none;
}

.relocateArrowImgResponsiveOne {
    display: none;
}

.relocateArrowImgResponsiveContainerTwo {
    display: none;
}

.relocateArrowImgResponsiveTwo {
    display: none;
}

@media (max-width: 768px) {

    .whyMeContainerOne {
        position: relative;
        top: 200px;
    }

    .tjImgWhyMeContainer {
        display: none;
    }

}

@media (max-width: 390px) {

    .whyMeContainerOne {
        width: 389px;
        gap: 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
    }

    .whyMeContainerTwo {
        justify-content: center;
        align-items: center;
        width: 389px;
    }

    .h2WhyMeContainer {
        width: 389px;
        justify-content: center;
        align-items: center;
        left: 0;
        >.h2WhyMe {
            font-size: 32px;
        }
    }

    .iAmText {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }


    .infoWhyMeContainer {
        width: 389px;
        justify-content: center;
        align-items: center;
        left: 0;
    }

    .iAmContainerOne {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: column;
    }

    .iAmContainerTwo {
        gap: 40px;
        width: 261px;
        display: flex;
        justify-content: center;
        // align-items: center;
        // flex-direction: column;
        top: 50px;
    }

    .locatedContainer {
        flex-direction: column;
        gap: 0;
        height: auto;
        width: 221px;
    }

    .locatedImg {
        width: 26px;
        height: 32px;
    }

    // .locatedText {
    //     text-align: center;
    // }

    .relocateContainer {
        padding-left: 0;
        width: 221px;
    }

    .test {
        justify-content: center;
    }

    .openToRelocate {
        justify-content: center;
        width: 221px;
    }

    .relocateText {
        width: auto;
        display: flex;
        align-items: center;
    }

    .relocateImg {
        width: 25.73px;
        height: 42px;
    }

    .remoteContainerOne {
        justify-content: center;
    }

    .remoteContainerTwo {
        padding-left: 0;
        justify-content: start;
        align-items: center;
    }

    .remoteImg {
        width: 49.12px;
        height: 43.96px;
        padding-bottom: 10px;
    }

    .remoteText {
        width: auto;
        display: flex;
        align-items: center;
    }

    .relocateArrowImg {
        display: none;
    }

    .remoteArrowOneImg {
        display: none;
    }

    .remoteArrowTwoImg {
        display: none;
    }

    .letsTalkContainerOne {
        top: 120px;
    }

    .letsTalkContainerTwo {
        justify-content: center;
    }

    .letsTalkButton {
        width: 137px;
        height: 43px;
    }

    .relocateArrowImgResponsiveContainerOne {
        display: block;
        width: 389px;
        height: 56px;
        
    }

    .relocateArrowImgResponsiveOne {
        display: flex;
        width: 22.95;
        height: 56px;
        left: 24px;
        position: relative;
    }

    .relocateArrowImgResponsiveContainerTwo {
        display: block;
        width: 389px;
        height: 41.3px;
        top: 105px;
        position: relative;
    }

    .relocateArrowImgResponsiveTwo {
        display: flex;
        width: 23.22px;
        height: 41.3px;
        left: 365px;
        position: relative;
    }

    .locatedOpenRemoteInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }

}





