<div class="whyMeContainerOne" id="whyMe">
    <div class="tjImgWhyMeContainer">
        <img class="tjImgWhyMe" src="../../assets/img/pp.png" alt="">
    </div>
    <div class="whyMeContainerTwo">
        <div class="h2WhyMeContainer">
            <h2 class="h2WhyMe">Why me</h2>
        </div>
        <div class="infoWhyMeContainer">
            <p class="infoText">I am motivated to continuously learn new technologies and develop myself.
                My ability to solve complex problems and my passion for programming make
                me a valuable member of your team.
             </p>
        </div>
        <div class="relocateArrowImgResponsiveContainerOne">
            <img class="relocateArrowImgResponsiveOne" src="../../assets/img/Arrow 5.png" alt="">
        </div>
        <div class="iAmContainerOne">
        <div class="iAmContainerTwo">
            <div class="locatedContainer">
                <p class="iAmText">I am</p>
                <div class="test" (mouseover)="onHover('located')" (mouseout)="onLeave('located')">
                    <div class="test2">
                        <img class="locatedImg" [src]="locatedSrc" alt="located">
                        <img class="locatedImgTwo" [src]="locatedSrc2" alt="">
                    </div>
                    <div class="locatedOpenRemoteInfo">
                        <p class="locatedText">located</p>
                        <p class="locatedText">in Munich</p>
                    </div>
                </div>
            </div>
            <div class="relocateContainer">
                <img class="relocateArrowImg" src="../../assets/img/Arrow 5.png" alt="">
                <div class="openToRelocate">
                    <img class="relocateImg" src="{{ relocateSrc }}" (mouseover)="onHover('relocate')" (mouseout)="onLeave('relocate')" alt="relocate">
                    <div class="locatedOpenRemoteInfo">
                        <p class="locatedText">open</p>
                        <p class="locatedText">to relocate</p>
                    </div>
                </div>
            </div>
            <div class="remoteContainerOne">
                <div class="remoteContainerTwo">
                    <img class="remoteImg" [src]="remoteSrc" alt="laptop"
                         (mouseover)="onHover('remote')" (mouseout)="onLeave('remote')"
                         [ngClass]="{'laptopHoverImg': isRemoteHovered}">
                    <div class="locatedOpenRemoteInfo">
                        <p class="locatedText">open to</p>
                        <p class="locatedText">work remote</p>
                    </div>
                    <img class="remoteArrowOneImg" src="../../assets/img/Arrow 4 (1).png" alt="">
                  </div>
                  
                <div class="workRemote">
                    <img class="remoteArrowTwoImg" src="../../assets/img/Arrow 01.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="relocateArrowImgResponsiveContainerTwo">
        <img class="relocateArrowImgResponsiveTwo" src="../../assets/img/Arrow6.png" alt="">
    </div>

    <div class="letsTalkContainerOne">
        <div class="letsTalkContainerTwo">
            <a href="#contactForm">
                <div class="letsTalkButton">Let's talk</div>
            </a>
        </div>
    </div>
        
    </div>
</div>
