<app-header style="display: flex; justify-content: center;"></app-header>
<app-first-section-about-me style="display: flex; justify-content: center;"></app-first-section-about-me>
<app-why-me style="display: flex; justify-content: center;"></app-why-me>
<app-my-skills style="display: flex; justify-content: center;"></app-my-skills>
<app-my-projects style="display: flex; justify-content: center;"></app-my-projects>
<app-reference style="display: flex; justify-content: center;"></app-reference>>
<app-contactform style="display: flex; justify-content: center;"></app-contactform>
<app-footer style="display: flex; justify-content: center;"></app-footer>
<router-outlet></router-outlet>



