@import "../styles.scss";

.landscapeContainerTwo {
    display: none;
    height: 100vh;
    width: 100vw;
    
}

@media (max-height: 600px) and (orientation: landscape) {

    .landscapeContainerOne {
        display: none;
    }

    .landscapeContainerTwo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landscapeContainerThree {
        color: $primaryColorOne;
        padding: 25px;
        border: 2px solid $primaryColorTwo;
        font-size: 18px;
        display: flex;
        justify-content: center;
        >h2 {
            margin: 0;
        }
    }

}