<div class="myProjectsContainerOne" id="myProjects">
    <div class="h2MyProjectsTwo">
        <h2 class="h2MyProjects">{{ 'MY_PROJECTS.PROJECTS' | translate }}</h2>
    </div>
    <div class="myProjectsContainerThree">
        <div class="projectOne">
            <img class="projectImg" src="../../assets/img/Project pic.Pollo loco.png" alt="">
            <div class="projectOneDescription">
                <div class="projectOneDescriptionHeader">
                    <p class="projectOneHeadline">EL POLLO LOCO</p>
                </div>
                <div class="projectOneLanguagesContainer">
                    <p class="projectOneLanguages">JavaScript | HTML | CSS</p>
                </div>
                <div class="projectOneInfo">
                    <p class="projectOneInfoText">{{ 'MY_PROJECTS.PROJECT_ONE' | translate }}</p> 
                </div>
                <div class="projectOneInfoButtons">
                     <a class="githubButton" href="https://github.com/ThomasJilge/El-Pollo-Loco" target="_blank">GitHub</a>
                    <div class="liveTestButton">Live Test</div>
                </div>
            </div>
        </div>

        <div class="projectTwo">
            <div class="projectTwoDescription">
                <div class="projectTwoDescriptionHeader">
                    <p class="projectTwoHeadline">Join</p>
                </div>
                <div class="projectTwoLanguagesContainer">
                    <p class="projectTwoLanguages">JavaScript | HTML | CSS</p>
                </div>
                <div class="projectTwoInfo">
                    <p class="projectTwoInfoText">{{ 'MY_PROJECTS.PROJECT_TWO' | translate }}</p> 
                </div>
                <div class="projectTwoInfoButtons">
                    <a class="githubButton" href="" target="_blank">GitHub</a>
                    <div class="liveTestButton">Live Test</div>
                </div>
            </div>
            <img class="projectImg" src="../../assets/img/join.PNG" alt="">
        </div>

    </div>
</div>


<div class="myProjectsContainerOneResponsive" id="myProjects">
    <div class="h2MyProjectsTwo">
        <h2 class="h2MyProjectsResponsive">{{ 'MY_PROJECTS.PROJECTS' | translate }}</h2>
    </div>
    <div class="myProjectsContainerThreeResponsive">
        <div class="projectOneResponsive">
            <div class="projectOneDescriptionHeaderResponsive">
                <p class="projectOneHeadlineResponsive">EL POLLO LOCO</p>
            </div>
            <div class="projectOneLanguagesContainerResponsive">
                <p class="projectOneLanguagesResponsive">JavaScript | HTML | CSS</p>
            </div>
            <div class="projectOneInfoResponsive">
                <p class="projectOneInfoTextResponsive">{{ 'MY_PROJECTS.PROJECT_ONE' | translate }}</p> 
            </div>
            <img class="projectImgResponsive" src="../../assets/img/Project pic.Pollo loco.png" alt="">
            <div class="projectOneInfoButtonsResponsive">
                <a class="githubButton" href="https://github.com/ThomasJilge/El-Pollo-Loco" target="_blank">GitHub</a>
               <div class="liveTestButton">Live Test</div>
           </div>
            <div class="projectOneDescriptionResponsive">
            </div>
        </div>

        <div class="projectTwoResponsive">
            <div class="projectTwoDescriptionResponsive">
                <div class="projectTwoDescriptionHeaderResponsive">
                    <p class="projectTwoHeadlineResponsive">Join</p>
                </div>
                <div class="projectTwoLanguagesContainerResponsive">
                    <p class="projectTwoLanguagesResponsive">JavaScript | HTML | CSS</p>
                </div>
                <div class="projectTwoInfoResponsive">
                    <p class="projectTwoInfoTextResponsive">{{ 'MY_PROJECTS.PROJECT_TWO' | translate }}</p> 
                </div>
                <img class="projectImgResponsive" src="../../assets/img/join.PNG" alt="">
                <div class="projectTwoInfoButtonsResponsive">
                    <a class="githubButton" href="" target="_blank">GitHub</a>
                    <div class="liveTestButton">Live Test</div>
                </div>
            </div>
        </div>

    </div>
</div>



