@import "../../../styles.scss";

.myProjectsContainerOne {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1440px;
    width: 100%;
    position: relative;
    padding-top: 100px;
    >.h2MyProjectsTwo {
        display: flex;
        justify-content: center;
        width: 357px;
        height: 65px;
        margin-bottom: 30px;
        white-space: nowrap;
        >.h2MyProjects {
            color: $primaryColorOne;
            font-size: 54px;
            margin: 0;
        }
    }
}

.myProjectsContainerThree {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 850px;
    left: 105px;
    >.projectOne {
        display: flex;
        max-width: 1134px;
        width: 100%;
        gap: 30px;
        >.projectOneDescription {
            position: relative;
            max-width: 498px;
            width: 100%;
            >.projectOneDescriptionHeader {
                max-width: 498px;
                width: 100%;
            }
        }
    }
    >.projectTwo {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        justify-content: space-between;
        padding-top: 50px;
        max-width: 1134px;
        width: 100%;
        gap: 30px;
    }
}

.projectOneImgContainer, .projectTwoImgContainer {
    width: 100%;
}

.projectImg {
    max-width: 588px;
    min-width: 320px;
    width: 100%;
    height: 371px;
}

.projectOneHeadline {
    color: $primaryColorTwo;
    font-size: clamp(36px, 4vw, 48px);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
    width: 475px;
    height: 59px;
}

.projectTwoDescription {
    position: relative;
    max-width: 498px;
    width: 100%;
    >.projectTwoDescriptionHeader {
        display: flex;
        justify-content: end;
    }
}

.projectTwoHeadline {
    display: flex;
    justify-content: end;
    color: $primaryColorTwo;
    font-size: clamp(36px, 4vw, 48px);
    font-weight: 700;
    margin: 0;
    max-width: 475px;
    width: 100%;
    height: 59px;
}

.projectOneLanguagesContainer {
    letter-spacing: 0.2em;
    padding: 20px 0;
    width: 100%;
    >.projectOneLanguages {
        color: $primaryColorTwo;
        font-size: clamp(16px, 4vw, 18px);
        font-weight: 400;
        margin: 0;
        width: 100%;
    }
}

.projectTwoLanguagesContainer {
    letter-spacing: 0.2em;
    padding: 20px 0;
    width: 100%;
    >.projectTwoLanguages {
        display: flex;
        justify-content: end;
        color: $primaryColorTwo;
        font-size: clamp(16px, 4vw, 18px);
        font-weight: 400;
        margin: 0;
        width: 100%;
    }
}

.projectOneInfo, .projectTwoInfo {
    max-width: 499px;
    width: 100%;
}

.projectOneInfoText {
    position: relative;
    color: $primaryColorTwo;
    margin: 0;
    font-size: clamp(16px, 4vw, 18px);
    font-weight: 400;
}

.projectTwoInfoText {
    display: flex;
    text-align: end;
    position: relative;
    color: $primaryColorTwo;
    margin: 0;
    font-size: clamp(16px, 4vw, 18px);
    font-weight: 400;
}

.projectOneInfoButtons {
    display: flex;
    height: 52px;
    gap: 24px;
    padding: 30px 0;
    width: 100%;
}

.projectTwoInfoButtons {
    display: flex;
    justify-content: end;
    height: 52px;
    gap: 24px;
    padding: 30px 0;
}

.githubButton {
    color: $primaryColorOne;
    width: 125px;
    height: 52px;
    border: 1px solid $primaryColorTwo;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.githubButton:hover {
    color: $primaryColorTwo;
    cursor: pointer;
    transition: color 125ms ease-in-out;
}

.liveTestButton {
    background-color: $primaryColorTwo;
    width: 158px;
    height: 52px;
    border: 1px solid $primaryColorTwo;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liveTestButton:hover {
    color: $primaryColorOne;
    cursor: pointer;
    transition: color 125ms ease-in-out;
}

.projectInfoButtonsResponsive {
    display: none;
}

@media only screen and (max-width: 1440px) {

    .myProjectsContainerThree {
        left: 0;
        width: 90%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 1372px) {

    .myProjectsContainerThree {
        left: 0;
    }

}

@media only screen and (max-width: 1024px) {

    .projectOne, .projectTwo {
        flex-direction: column-reverse !important;
    }

    .projectOneDescription, .projectTwoDescription {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: none !important;
    }

    .projectOneDescriptionHeader, .projectTwoDescriptionHeader {
        max-width: none !important;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .projectOneLanguages, .projectTwoLanguages {
        display: flex;
        justify-content: center !important;
    }

    .projectOneInfoText, .projectTwoInfoText {
        text-align: center;
    }

    .projectOneImgContainer, .projectTwoImgContainer {
        max-width: none !important;
        display: flex;
        justify-content: center;
    }

    .projectOneInfoButtons, .projectTwoInfoButtons {
        display: none;
    }

    .projectInfoButtonsResponsive {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 24px;
    }

    .githubButton {
        width: 98px;
        height: 43px;
    }

    .liveTestButton {
        width: 127px;
        height: 43px;
    }

}

@media only screen and (max-width: 380px) {

    h2 {
        font-size: 46px !important;
    }

    .projectImg {
        max-width: 315px;
        min-width: 310px;
    }

}