<section class="sectionMyProjects flex-center-100">
  <div class="myProjectsContainerOne" id="myProjects">
    <div class="h2MyProjectsTwo">
      <h2 class="h2MyProjects">{{ "MY_PROJECTS.PROJECTS" | translate }}</h2>
    </div>
    <div class="myProjectsContainerThree">
      <div class="projectOne">
        <div class="projectInfoButtonsResponsive flex-center-100">
          <a class="githubButton" href="https://github.com/ThomasJilge/El-Pollo-Loco" target="_blank">GitHub</a>
          <a href="https://el-pollo-loco.thomas-jilge.com" target="_blank" class="liveTestButton">Live Test</a>
        </div>
        <div class="projectOneImgContainer">
          <img
            class="projectImg"
            src="../../assets/img/Project pic.Pollo loco.png"
            alt=""
          />
        </div>
        <div class="projectOneDescription">
          <div class="projectOneDescriptionHeader">
            <p class="projectOneHeadline">EL POLLO LOCO</p>
          </div>
          <div class="projectOneLanguagesContainer">
            <p class="projectOneLanguages">JavaScript | HTML | CSS</p>
          </div>
          <div class="projectOneInfo">
            <p class="projectOneInfoText">
              {{ "MY_PROJECTS.PROJECT_ONE" | translate }}
            </p>
          </div>
          <div class="projectOneInfoButtons">
            <a class="githubButton" href="https://github.com/ThomasJilge/El-Pollo-Loco" target="_blank" >GitHub</a>
            <a href="https://el-pollo-loco.thomas-jilge.com" target="_blank" class="liveTestButton">Live Test</a>
          </div>
        </div>
      </div>
      <div class="projectTwo">
        <div class="projectInfoButtonsResponsive flex-center-100">
          <a class="githubButton" href="https://github.com/ThomasJilge/Join" target="_blank" >GitHub</a>
          <a href="https://join.thomas-jilge.com" target="_blank" class="liveTestButton">Live Test</a>
        </div>
        <div class="projectTwoImgContainer">
          <img class="projectImg" src="../../assets/img/join2.png" alt="" />
        </div>
        <div class="projectTwoDescription">
          <div class="projectTwoDescriptionHeader">
            <p class="projectTwoHeadline">JOIN</p>
          </div>
          <div class="projectTwoLanguagesContainer">
            <p class="projectTwoLanguages">JavaScript | HTML | CSS</p>
          </div>
          <div class="projectTwoInfo">
            <p class="projectTwoInfoText">
              {{ "MY_PROJECTS.PROJECT_TWO" | translate }}
            </p>
          </div>
          <div class="projectTwoInfoButtons">
            <a class="githubButton" href="https://github.com/ThomasJilge/Join" target="_blank" >GitHub</a>
            <a href="https://join.thomas-jilge.com" target="_blank" class="liveTestButton">Live Test</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
