.mySkillsContainerOne {
    position: relative;
    width: 1439px;
    height: 423px;
    top: 50px;
    left: 1px;
    >.h2MySkillsContainer {
        position: relative;
        width: 292px;
        height: 65px;
        margin-bottom: 20px;
        >.h2MySkills {
            color: #E15544;
            margin: 0;
            font-size: 54px;
        }
    }
    >.mySkillsContainerTwo {
        display: flex;
        position: relative;
        width: 1219px;
        height: 325px;
        top: 1px;
        flex-wrap: wrap;
        >.skillsImgsContainerOne {
            width: 1122px;
            height: 100px;
            display: flex;
            gap: 100px;
        }
        >.skillsImgsContainerTwo {
            width: 1219px;
            height: 125px;
            display: flex;
            gap: 100px;
        }
    }
}

.skillsImgs {
    width: 88px;
    height: 100px;
}

.challengeMeTextContainer {
    display: flex;
    position: relative;
    left: 20px;
    >.challengeMeText {
        position: absolute;
        display: none;
        left: -80px;
        color: #02F4BF;
        margin: 0;
        width: 200px;
    }
}

.challengeMeClass:hover ~ .challengeMeTextContainer .challengeMeText {
    display: block;
    color: #02F4BF;
    transition: color 100ms ease-in-out;
}

.letsTalkButton {
    display: none;
}

.mySkillsArrowResponsiveContainer, .mySkillsArrowResponsive {
    display: none;
}

.mySkillsTextContainerOne, .mySkillsTextContainerTwo, .mySkillsText {
    display: none;
}

.mySkillsContainerOneResponsive {
    display: none;
}

@media (max-width: 576px) {

.mySkillsContainerOne {
    display: none;
}

.mySkillsContainerOneResponsive {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 230px;
    >.h2MySkillsContainerResponsive {
        color: #E15544;
        font-size: 32px;
        font-weight: 700;
    }
}

.mySkillsTextContainerTwoResponsive {
    color: #02F4BF;
    display: flex;
    justify-content: center;
    text-align: center;

}

.skillsImgsContainerOneResponsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 388px;
    height: 215px;
    gap: 80px;
    position: relative;
}

.skillsImgsContainerTwoResponsive {
    color: #02F4BF;
    display: flex;
    justify-content: center;
    gap: 74px;
    width: 388px;
    position: relative;
    top: 140px;
    >.challengeMe2Text {
        position: relative;
        right: 65px;
    }
}

.skillsImgsMobile {
    height: 45px;
    width: 45px;
}

.mySkillsArrowResponsiveContainerResponsive {
    position: relative;
    top: 170px;
    width: 388px;
    display: flex;
    justify-content: center;
    >.mySkillsArrowResponsive {
        display: block;
    }
}

.mySkillsTextContainerOneResponsive {
    position: relative;
    top: 190px;
}

.letsTalkContainerOneResponsive {
    display: flex;
    justify-content: center;
    position: relative;
    top: 190px;
}

.letsTalkContainerTwoResponsive > a {
    text-decoration: none;
}

.letsTalkButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137px;
    height: 43px;
    color: black;
    background-color: #02F4BF;
    &:hover {
        cursor: pointer;
        color: #E15544;
        transition: color 100ms ease-in-out;
    }
}

}
