.mySkillsContainerOne {
    position: relative;
    width: 1439px;
    height: 423px;
    left: 1px;
    >.h2MySkillsContainer {
        position: relative;
        width: 292px;
        height: 65px;
        margin-bottom: 20px;
        >.h2MySkills {
            color: #E15544;
            margin: 0;
            font-size: 54px;
        }
    }
    >.mySkillsContainerTwo {
        display: flex;
        position: relative;
        width: 1219px;
        height: 325px;
        top: 1px;
        flex-wrap: wrap;
    }
}

.skillsImgsContainerOne {
    width: 1122px;
    height: 100px;
    display: flex;
    gap: 100px;
}

.skillsImgsContainerTwo {
    width: 1219px;
    height: 125px;
    display: flex;
    gap: 100px;
}

.skillsImgs {
    width: 88px;
    height: 100px;
}

.challengeMeTextContainer {
    display: flex;
    position: relative;
    left: 20px;
}


.challengeMeText {
    position: absolute;
    display: none;
    left: -80px;
    color: #02F4BF;
    margin: 0;
    width: 200px;
}

.challengeMeClass:hover ~ .challengeMeTextContainer .challengeMeText {
    display: block;
    color: #02F4BF;
    transition: color 100ms ease-in-out;
}

@media (max-width: 390px) {

    .mySkillsContainerOne {
        top: 350px;
        width: 390px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        >.h2MySkillsContainer {
            width: 390px;
            display: flex;
            justify-content: center;
            margin: 0;
            >.h2MySkills {
                font-size: 32px;
                display: flex;
                align-items: center;
            }
        }
    }



    .mySkillsContainerTwo {
        width: 388px;
        right: 29px;
        left: 29px;
    }

    .skillsImgsContainerOne,
    .skillsImgsContainerTwo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 80px;
        width: 388px;
        height: auto;
    }

    .skillsImgs {
        width: 65px;
        height: 65px;
    }

}
