.referenceContainerOne {
    position: relative;
    width: 1440px;
    height: 307px;
    top: 50px;
    >.referenceContainerHeader {
        position: relative;
        width: 808px;
        height: 29px;
        >.referenceContainerText {
            color: #E15544;
            font-size: 24px;
            font-weight: 700;
            margin: 0;
        }
    }
}

.referenceContainerTwo {
    display: flex;
    position: relative;
    width: 1103px;
    height: 246px;
    gap: 32px;
    top: 30px;
    >.arrowReference {
        position: relative;
        top: 8px;
        height: 75px;
        object-fit: cover;
    }
}

.referenceContainerThree {
    width: 297px;
    height: 246px;
    >.referenceNameAndProject {
        display: flex;
        flex-direction: column;
        width: 297px;
        height: 53px;
        gap: 8px;
        >.referenceName {
            color: #E15544;
            font-size: 24px;
            font-weight: 700;
            margin: 0;
        }
        >.referenceProject {
            color: #02F4BF;
            font-size: 18px;
            font-weight: 400;
            margin: 0;
        }
    }
}

.referenceInfo {
    position: relative;
    top: 25px;
    width: 297px;
    height: 161px;
    >.referenceText {
        color: #02F4BF;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
}

.referenceContainerOneResponsive {
    display: none;
}

@media (max-width: 390px) {

    .referenceContainerOne {
        display: none;
    }

    .referenceContainerOneResponsive {
        display: block;
        position: relative;
        top: 550px;
    }

    .referenceContainerHeaderResponsive {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    .referenceContainerHeaderResponsive > .referenceContainerTextHeaderResponsive {
        font-size: 24px;
        font-weight: 700px;
        color: #E15544;
        margin: 0;
    }

    .referenceContainerTextResponsive {
        color: #E15544;
        margin: 0;
    }

    .referenceNameResponsive {
        color: #E15544;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }

    .referenceProjectResponsive, .referenceTextResponsive {
        color: #02F4BF;
        margin-top: 0;
    }

    .referenceTextResponsive {
        margin-bottom: 0;
    }

    .referenceContainerTwoResponsive{
        cursor: pointer;
        display: flex;
        gap: 16px;
        >.referenceContainerThreeResponsive {
            position: relative;
            top: 15px;
            border: 1px solid #02F4BF;
            min-width: 239px;
            min-height: 233px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}