@import "../../../styles.scss";

.mySkillsContainerOne {
    position: relative;
    max-width: 1440px;
    width: 100%;
    padding-top: 100px;
    left: 105px;
    >.h2MySkillsContainer {
        position: relative;
        width: 292px;
        height: 65px;
        margin-bottom: 40px;
        white-space: nowrap;
        >.h2MySkills {
            color: $primaryColorOne;
            margin: 0;
            font-size: clamp(32px, 4vw, 54px);
        }
    }
}

.skillsImgsContainerOne {
    max-width: 1219px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 101px;
}

.skillsImgs {
    width: 88px;
    height: 100px;
}

.challengeMeTextContainer {
    display: flex;
    position: relative;
    >.challengeMeText {
        position: absolute;
        display: none;
        left: -80px;
        color: $primaryColorTwo;
        margin: 0;
        width: 200px;
    }
}

.challengeMeClass {
    cursor: pointer;
}

.challengeMeClass:hover ~ .challengeMeTextContainer .challengeMeText {
    display: block;
    color: $primaryColorTwo;
    transition: color 100ms ease-in-out;
}

.letsTalkButton {
    display: none;
}

.mySkillsArrowResponsiveContainer, .mySkillsArrowResponsive {
    display: none;
}

.mySkillsTextContainerOne, .mySkillsTextContainerTwo, .mySkillsText, .letsTalkContainerOne {
    display: none;
}

.mySkillsContainerOneResponsive {
    display: none;
}

@media only screen and (max-width: 1440px) {

    .mySkillsContainerOne {
        left: 0;
        width: 90%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 930px) {

    .h2MySkillsContainer {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    .skillsImgsContainerOne  {
        justify-content: center;
        gap: 70px;
    }

    .challengeMeClass {
        cursor: default;
    }

    .challengeMeTextContainer {
        display: none;
    }

}

@media only screen and (max-width: 768px) {

    .sectionMySkills  {
        position: relative;
        bottom: 85px;
    }

    .mySkillsArrowResponsiveContainer, .mySkillsArrowResponsive {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .mySkillsTextContainerOne, .mySkillsTextContainerTwo, .mySkillsText, .letsTalkContainerOne {
        display: flex;
        justify-content: center;
    }

    .mySkillsTextContainerOne {
        color: $primaryColorTwo;
        text-align: center;
    }

    .letsTalkContainerTwo {
        padding-top: 20px;
    }

    .letsTalkContainerTwo > a {
        text-decoration: none;
    }

    .letsTalkContainerOneResponsive {
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .letsTalkButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 137px;
        height: 43px;
        color: black;
        background-color: $primaryColorTwo;
        &:hover {
            cursor: pointer;
            color: $primaryColorOne;
            transition: color 100ms ease-in-out;
        }
    }
}
    


