@import "../../../styles.scss";

.mySkillsContainerOne {
    position: relative;
    // width: 1439px;
    max-width: 1439px;
    width: 100%;
    height: 423px;
    top: 50px;
    left: 1px;
    >.h2MySkillsContainer {
        position: relative;
        width: 292px;
        height: 65px;
        margin-bottom: 20px;
        white-space: nowrap;
        >.h2MySkills {
            color: $primaryColorOne;
            margin: 0;
            font-size: 54px;
        }
    }
    >.mySkillsContainerTwo {
        display: flex;
        position: relative;
        // width: 1219px;
        max-width: 1219px;
        width: 100%;
        height: 325px;
        top: 1px;
        flex-wrap: wrap;
        >.skillsImgsContainerOne {
            // width: 1122px;
            max-width: 1122px;
            width: 100%;
            height: 100px;
            display: flex;
            // gap: 100px;
            // gap: 10vw;
            gap: 8vw;
        }
        >.skillsImgsContainerTwo {
            // width: 1219px;
            max-width: 1219px;
            width: 100%;
            height: 125px;
            display: flex;
            // gap: 100px;
            // gap: 10vw;
            gap: 8vw;
        }
    }
}

.skillsImgs {
    width: 88px;
    height: 100px;
}

.challengeMeTextContainer {
    display: flex;
    position: relative;
    left: 20px;
    >.challengeMeText {
        position: absolute;
        display: none;
        left: -80px;
        color: $primaryColorTwo;
        margin: 0;
        width: 200px;
    }
}

.challengeMeClass:hover ~ .challengeMeTextContainer .challengeMeText {
    display: block;
    color: $primaryColorTwo;
    transition: color 100ms ease-in-out;
}

.letsTalkButton {
    display: none;
}

.mySkillsArrowResponsiveContainer, .mySkillsArrowResponsive {
    display: none;
}

.mySkillsTextContainerOne, .mySkillsTextContainerTwo, .mySkillsText {
    display: none;
}

.mySkillsContainerOneResponsive {
    display: none;
}

@media only screen and (max-width: 1124px) {

    .skillsImgsContainerOne, .skillsImgsContainerTwo  {
        gap: 8vw !important;
    }

}

@media only screen and (max-width: 930px) {

    .skillsImgsContainerOne, .skillsImgsContainerTwo  {
        gap: 6vw !important;
    }
    
}

@media only screen and (max-width: 790px) {

    .skillsImgsContainerOne, .skillsImgsContainerTwo  {
        gap: 4vw !important;
    }

    .mySkillsContainerOne {
        display: none;
    }
    
    .mySkillsContainerOneResponsive {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // top: 230px;
        top: 20px;
        >.h2MySkillsContainerResponsive {
            color: $primaryColorOne;
            font-size: 32px;
            font-weight: 700;
        }
    }
    
    .mySkillsContainerTwoResponsive {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .mySkillsTextContainerTwoResponsive {
        color: $primaryColorTwo;
        display: flex;
        justify-content: center;
        text-align: center;
    
    }
    
    .skillsImgsContainerOneResponsive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 388px;
        height: 215px;
        gap: 80px;
        position: relative;
    }
    
    .skillsImgsContainerTwoResponsive {
        color: $primaryColorTwo;
        display: flex;
        justify-content: center;
        gap: 74px;
        width: 388px;
        position: relative;
        top: 140px;
        >.challengeMe2Text {
            position: relative;
            right: 65px;
        }
    }
    
    .skillsImgsMobile {
        height: 45px;
        width: 45px;
    }
    
    .mySkillsArrowResponsiveContainerResponsive {
        position: relative;
        top: 170px;
        width: 388px;
        display: flex;
        justify-content: center;
        >.mySkillsArrowResponsive {
            display: block;
        }
    }
    
    .mySkillsTextContainerOneResponsive {
        position: relative;
        top: 190px;
    }
    
    .letsTalkContainerOneResponsive {
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .letsTalkContainerTwoResponsive > a {
        text-decoration: none;
    }
    
    .letsTalkButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 137px;
        height: 43px;
        color: black;
        background-color: $primaryColorTwo;
        &:hover {
            cursor: pointer;
            color: $primaryColorOne;
            transition: color 100ms ease-in-out;
        }
    }
    
}

@media only screen and (max-width: 768px) {

    .mySkillsContainerOneResponsive {
        top: 220px;
    }

}

// @media (orientation: portrait) and (max-width: 667px) {

//     .mySkillsContainerOneResponsive {
//         width: 667px;
//     }

// }

@media only screen and (max-width: 576px) {

// .mySkillsContainerOne {
//     display: none;
// }

// .mySkillsContainerOneResponsive {
//     display: flex;
//     position: relative;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     top: 230px;
//     >.h2MySkillsContainerResponsive {
//         color: $primaryColorOne;
//         font-size: 32px;
//         font-weight: 700;
//     }
// }

// .mySkillsContainerTwoResponsive {
//     width: 90%;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
// }

// .mySkillsTextContainerTwoResponsive {
//     color: $primaryColorTwo;
//     display: flex;
//     justify-content: center;
//     text-align: center;

// }

// .skillsImgsContainerOneResponsive {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     width: 388px;
//     height: 215px;
//     gap: 80px;
//     position: relative;
// }

// .skillsImgsContainerTwoResponsive {
//     color: $primaryColorTwo;
//     display: flex;
//     justify-content: center;
//     gap: 74px;
//     width: 388px;
//     position: relative;
//     top: 140px;
//     >.challengeMe2Text {
//         position: relative;
//         right: 65px;
//     }
// }

// .skillsImgsMobile {
//     height: 45px;
//     width: 45px;
// }

// .mySkillsArrowResponsiveContainerResponsive {
//     position: relative;
//     top: 170px;
//     width: 388px;
//     display: flex;
//     justify-content: center;
//     >.mySkillsArrowResponsive {
//         display: block;
//     }
// }

// .mySkillsTextContainerOneResponsive {
//     position: relative;
//     top: 190px;
// }

// .letsTalkContainerOneResponsive {
//     display: flex;
//     justify-content: center;
//     position: relative;
// }

// .letsTalkContainerTwoResponsive > a {
//     text-decoration: none;
// }

// .letsTalkButton {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 137px;
//     height: 43px;
//     color: black;
//     background-color: $primaryColorTwo;
//     &:hover {
//         cursor: pointer;
//         color: $primaryColorOne;
//         transition: color 100ms ease-in-out;
//     }
// }

}

@media only screen and (max-width: 370px) {

    .skillsImgsContainerOneResponsive {
        gap: 65px;
    }

    .skillsImgsContainerTwoResponsive {
        gap: 60px;
    }

    .skillsImgsContainerTwoResponsive > .challengeMe2Text {
        right: 50px;
    }

}
