<section class="sectionMySkills flex-center-100 section">
  <div class="mySkillsContainerOne" id="mySkills">
    <div class="h2MySkillsContainer">
      <h2 class="h2MySkills">{{ "MY_SKILLS.SKILLS" | translate }}</h2>
    </div>
    <div class="skillsImgsContainerOne">
      <div
        *ngFor="let img of skillImages"
        class="skillsItem"
        [ngClass]="{ challengeMeClass: img.src.includes('challengeMeNew.png') }"
      >
        <img
          class="skillsImgs"
          [src]="img.src"
          [alt]="img.label"
        />
        <p 
          class="skillLabel" 
          [ngClass]="{ 'twoLines': img.label === 'Material Design' || img.label === 'Challenge Me' }"
        >
          {{ img.label | translate }}
        </p>
      </div>
      <div class="challengeMeTextContainer">
        <p class="challengeMeText">
          {{ "MY_SKILLS.CHALLENGE_TEXT" | translate }}<br />
          <span class="newTechnologiesContainerOne">
            <span class="newTechnologiesContainerTwo">
              <img src="../../assets/img/skills/react.png" alt="React" />
              <p class="textNewTechnologies">React</p>
            </span>
            <span class="newTechnologiesContainerTwo">
              <img src="../../assets/img/skills/vue.js.png" alt="Vue.js" />
              <p class="textNewTechnologies">Vue.js</p>
            </span>
          </span>
        </p>
      </div>
    </div>
    <div class="mySkillsArrowResponsiveContainer">
      <img
        class="mySkillsArrowResponsive"
        src="../../assets/img/Arrow8.png"
        alt=""
      />
    </div>
    <div class="mySkillsTextContainerOne">
      <div class="mySkillsTextContainerTwo">
        <p class="mySkillsText">{{ "MY_SKILLS.CHALLENGE_TEXT" | translate }}</p>
      </div>
    </div>
    <div class="letsTalkContainerOne">
      <div class="letsTalkContainerTwo">
        <a href="#contactForm">
          <div class="letsTalkButton">{{ "MY_SKILLS.LETS_TALK" | translate }}</div>
        </a>
      </div>
    </div>
  </div>
</section>







