$primaryColorOne: #E15544;
$primaryColorTwo: #02F4BF;

body {
    background-color: #120B35;
    max-width: 1440px;
    width: 90%;
    overflow-x: hidden;
    // margin: 0;
    // padding: 0;
    // height: 100%;
}

html {
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    // margin: 0;
    // padding: 0;
    // height: 100%;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #02F4BF;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #0F6675;
}


